﻿@model Apeek.Common.IShape<Momentarily.ViewModels.Models.MomentarilyItemMapViewModel>
@{
    ViewBag.Title = "Item";
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";

}
@section meta {
    <meta name="title" content="@Model.ViewModel.Name" />
    <meta name="description" content="@Model.ViewModel.Description" />
    <meta property="og:title" content="@Model.ViewModel.Name" />
    <meta property="og:description" content="@Model.ViewModel.Description" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.ToString()" />

    @foreach (var img in Model.ViewModel.ListingImages)
    {
        <meta property="og:image" content="@QuickUrl.AbsoluteUrl(img.LargeImageUrl)" />
    }
}

@Styles.Render("~/Content/css/request_to_book")
<link href="~/Content/CustomCssFiles/SearchPage.css" rel="stylesheet" />
<style>
    .cancelpercentage {
        color: #9b9b9b;
        position: relative;
        top: 0px;
        display: block;
        margin-left: 5px;
    }

    .left-align {
        float: left;
        display: inline-block;

    }
</style>
<div class="content search_page mainClass" ng-controller="SearchItemController as searchItem" ng-cloak>
    <div class="container-search-item">
        <div class="description-less panel-white container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="title-block">
                            <h1 class="back">{{searchItem.item.Name}}</h1>
                        </div>
                        <!--
                        <label>{{searchItem.item.Location}}</label>
                        -->
                        <span class="distance" ng-if="searchItem.ApplyForDelivery">{{searchItem.ShippingDistance}} miles from you</span>
                        <div class="item-images">
                            <div class="item-image">
                                <div class="img-item">
                                    <div class="img-container" ng-click="searchItem.openInNewTab(searchItem.activeImageUrl)">
                                        <img ng-src="{{searchItem.activeImageUrl}}" on-error-src="/Content/Img/error-bg.png" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-images image-thumbnail">
                            <div ng-repeat="itemImage in searchItem.item.ListingImages" class="item-image">
                                <div class="img-item1">
                                    <div class="img-container" ng-click="searchItem.activeImageUrl = itemImage.LargeImageUrl">
                                        <img ng-src="{{itemImage.LargeImageUrl}}" on-error-src="/Content/Img/error-bg.png" alt="image">
                                    </div>
                                </div>
                            </div>
                            <div class="item-image" ng-show="searchItem.item.ListingImages.length===0">
                                <div class="img-item">
                                    <div class="img-container">
                                        <img ng-src="{{searchItem.errorImageUrl}}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <label style="color: black;font-weight: bold;">Category</label>
                        <span class="category">{{searchItem.item.Type}}</span>
                        <br />
                        <label style="color: black;font-weight: bold;display:none">Location</label>
                        <span style="display:none" class="category">{{searchItem.item.Location}}</span>
                        <input type="hidden" id="maplat" ng-value="searchItem.item.Latitude" />
                        <input type="hidden" id="maplong" ng-value="searchItem.item.Longitude" />
                        <br />
                        <div class="about-text" ng-bind-html="searchItem.trustedHtml(searchItem.item.Description) "></div>
                    </div>
                    <div class="col-md-6">
                        <div class="request-book" on-size-changed="searchItem.changeMargin">
                            <div class="clearfix">
                                <div class="price" ng-if="searchItem.item.RentPeriodDay && !searchItem.item.RentPeriodWeek">
                                    <span ng-if="searchItem.item.Price > 0">${{searchItem.item.Price | number: 2}} per day</span>
                                </div>
                                <div class="price" ng-if="!searchItem.item.RentPeriodDay && searchItem.item.RentPeriodWeek">
                                    <span ng-if="searchItem.item.PricePerWeek > 0">${{searchItem.item.PricePerWeek | number: 2}} per week</span>
                                </div>
                                <div class="price" ng-if="searchItem.item.RentPeriodDay && searchItem.item.RentPeriodWeek">
                                    <span ng-if="searchItem.item.Price > 0">${{searchItem.item.Price | number: 2}} per day</span>
                                    <span ng-if="searchItem.item.PricePerWeek > 0">${{searchItem.item.PricePerWeek | number: 2}} per week</span>
                                </div>
                            </div>
                            <div class="req-form">
                                <form name="bookingrequest" ng-submit="searchItem.submitForm($event, bookingrequest)" action="@Url.Action("BookingRequest", "Listing")" method="GET" novalidate>
                                    <div>
                                        <input type="hidden" name="GoodId" value="{{searchItem.item.GoodId}}" ng-model="searchItem.item.GoodId" />
                                        <input type="hidden" id="_startDate" name="StartDate" value="{{searchItem.dateStart}}" ng-model="searchItem.dateStart" required />
                                        <input type="hidden" id="_endDate" name="EndDate" value="{{searchItem.dateEnd}}" ng-model="searchItem.dateEnd" required />
                                        <input type="hidden" name="ShippingDistance" value="{{searchItem.ShippingDistance}}" ng-model="searchItem.ShippingDistance" />
                                        <input type="hidden" name="CouponDiscount" value="{{searchItem.CouponDiscount}}" ng-model="searchItem.CouponDiscount" />
                                        <input type="hidden" name="CouponCode" value="{{searchItem.CouponCode}}" ng-model="searchItem.CouponCode" />
                                    </div>

                                    <label class="captionExt" ng-hide="searchItem.isCalculate">Enter dates for accurate prices and availability.</label>
                                    <div class="form-group start-date" onclick="untilDisabled('start');">

                                        <label for="dateStart">From</label>
                                        <div ng-click="searchItem.SetUntil()">
                                            <ng-datepicker id="start" name="dateStart"
                                                           ng-change="searchItem.SetUntils(); SetForCouponSelectedDate();"
                                                           ng-model="searchItem.dateStart"
                                                           min-date="searchItem.minDateStart"
                                                           max-date-range="searchItem.filter.DateEnd"
                                                           locale="sl"
                                                           format="{{searchItem.format}}"
                                                           view-format="{{searchItem.viewFormat}}"
                                                           good-share-dates="searchItem.item.GoodShareDates"
                                                           good-booked-dates="searchItem.item.GoodBookedDates"
                                                           good-booked-dates-until="searchItem.item.GoodBookedDatesUntil"
                                                           good-all-startdates="searchItem.item.AllStartDates"
                                                           good-all-enddates="searchItem.item.AllEndDates"
                                                           placeholder="MM-DD-YYYY">
                                            </ng-datepicker>

                                        </div>
                                    </div>
                                    <div id="untilDisabled" onclick="untilDisabled('end');" class="form-group end-date">
                                        <label for="dateEnd">Until</label>
                                        <div id="pointerId" style="pointer-events:{{searchItem.UntilEnable}}">

                                            <ng-datepicker id="end" name="dateEnd"
                                                           @*ng-change="searchItem.PopUpDates()"*@
                                                           ng-change="searchItem.SetIsMinimumRental();"
                                                           ng-model="searchItem.dateEnd"
                                                           min-date="searchItem.minDateEnd"
                                                           max-date-range="searchItem.filter.DateEnd"
                                                           locale="sl"
                                                           format="{{searchItem.format}}"
                                                           view-format="{{searchItem.viewFormat}}"
                                                           good-share-dates="searchItem.item.GoodShareDates"
                                                           good-booked-dates="searchItem.item.GoodBookedDates"
                                                           good-booked-dates-until="searchItem.item.GoodBookedDatesUntil"
                                                           good-all-startdates="searchItem.item.AllStartDates"
                                                           good-all-enddates="searchItem.item.AllEndDates"
                                                           date-start="searchItem.dateStart"
                                                           placeholder="MM-DD-YYYY">
                                            </ng-datepicker>




                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label style="display:none;color:red" id="msgShow">Please enter "From" date first.</label>
                                    </div>

                                    <div class="form-group" ng-show="!searchItem.IsMinimumRental">
                                        <label style="color:red" ng-if="searchItem.item.MinimumRentPeriod > 1">Minimum rental period: {{searchItem.item.MinimumRentPeriod}} days.</label>
                                        <label style="color:red" ng-if="searchItem.item.MinimumRentPeriod == 1">Minimum rental period: {{searchItem.item.MinimumRentPeriod}} day.</label>
                                    </div>

                                    <div class="productime" ng-if="searchItem.dateStart != searchItem.dateEnd">

                                        <div class="form-group" style="display:none">
                                            <input type="text" id="StartTime" name="StartTime" ng-model="searchItem.StartTime" />
                                            <input type="text" id="EndTime" name="EndTime" ng-model="searchItem.EndTime" />
                                        </div>
                                        <label ng-if="searchItem.dateStart != searchItem.dateEnd">
                                            This item will be available at <b>{{searchItem.StartTime}}</b> on selected start date
                                            until <b>{{searchItem.EndTime}}</b> on selected end date.
                                        </label>
                                        <label ng-if="searchItem.dateStart == searchItem.dateEnd">
                                            This item will be available at <b>{{searchItem.StartTime}}</b> on selected date
                                            upto 21 hours.
                                        </label>
                                    </div>


                                    <div class="priceFields" ng-show="searchItem.PriceFieldsEnable">

                                        @if (Model.ViewModel.GoodShareDates.Count > 0)
                                        {
                                            for (int i = 0; i < Model.ViewModel.GoodShareDates.Count; i++)
                                            {
                                                if (!Model.ViewModel.GoodBookedDates.Contains(Model.ViewModel.GoodShareDates[i]))
                                                {
                                                    <div class="form-group">
                                                        <label for="ApplyForDelivery">Dates Available : @Model.ViewModel.GoodShareDates[i]</label>
                                                        <a id="getdates" style="cursor:pointer">More Detail</a>
                                                    </div>
                                                    break;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <div class="form-group">
                                                <label for="ApplyForDelivery">Not Available</label>
                                            </div>
                                        }

                                        <div ng-if="searchItem.item.AgreeToDeliver">
                                            <div class="form-group">

                                                <input type="checkbox" name="ApplyForDelivery" ng-model="searchItem.ApplyForDelivery" ng-value="searchItem.ApplyForDelivery" />
                                                <label for="ApplyForDelivery">Apply for delivery</label>
                                            </div>

                                            <div class="form-group" ng-if="searchItem.ApplyForDelivery">
                                                <input name="ShippingAddress"
                                                       type="text"
                                                       autocomplete-location
                                                       ng-model="searchItem.shippingLocation.Name"
                                                       class="form-control"
                                                       place-filter="address"
                                                       latitude="searchItem.shippingLocation.Latitude"
                                                       longitude="searchItem.shippingLocation.Longitude"
                                                       ng-model-options="{ updateOn: 'blur' }"
                                                       placeholder="Enter Address"
                                                       required />
                                                <span class="error-msg asteriks"
                                                      ng-show="bookingrequest.ShippingAddress.$error.required">
                                                    *
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="searchItem.item.AgreeToShareImmediately">
                                            <h6 class="text-success">This item is available immediately when booked with no further approval required</h6>
                                        </div>

                                        <span class="text-danger" ng-bind="searchItem.calculateAmountErrorMessage"></span>

                                        <div class="booking-request-pricing" ng-show="searchItem.price">
                                            <table class="table table-pricing">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                Rental fee
                                                                ${{searchItem.price.PerDayCost | number: 2}} x {{searchItem.price.Days}} {{searchItem.price.Days===1?"day":"days"}}
                                                            </label>
                                                        </td>
                                                        <td class="text-right">${{searchItem.price.DaysCost  | number: 2}}</td>
                                                    </tr>
                                                    @*<tr ng-if="searchItem.ApplyForDelivery">
                                                        <td><label>Delivery ${{searchItem.price.DiliveryPrice  | number: 2}} x {{searchItem.price.ShippingDistance}} Miles</label></td
                                                        <td class="text-right">${{searchItem.price.DiliveryCost  | number: 2}}</td>
                                                        </tr>*@
                                                    <tr ng-if="searchItem.ApplyForDelivery && searchItem.price.ShippingDistance >3.33">
                                                        <td><label>Delivery ${{searchItem.price.DiliveryPrice  | number: 2}} x {{searchItem.price.ShippingDistance}} Miles</label></td>
                                                        <td class="text-right">${{searchItem.price.DiliveryCost  | number: 2}}</td>
                                                    </tr>
                                                    <tr ng-if="searchItem.ApplyForDelivery  && searchItem.price.ShippingDistance <=3.33">
                                                        <td><label>Delivery charges 5$(Minimum Delivery Charges.)</label></td>
                                                        <td class="text-right">${{searchItem.price.DiliveryCost  | number: 2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                Service fee*
                                                            </label>
                                                        </td>
                                                        <td class="text-right">${{searchItem.price.CustomerServiceFeeCost  | number: 2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <label>Charity</label>
                                                        </td>
                                                        <td class="text-right">${{searchItem.price.CustomerCharityCost  | number: 2}}</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <input id="chkselctApplyCoupon" type="checkbox" ng-model="vm.chkselct">
                                                            <label for="ApplyForDelivery">Apply Coupon</label>
                                                        </td>
                                                    </tr>
                                                    <tr ng-show='vm.chkselct' id="coupontextId" class="checkOutApply">
                                                        <td>
                                                            <input name="CouponCode"
                                                                   type="text"
                                                                   ng-model="searchItem.CouponCode"
                                                                   class="form-control"
                                                                   id="couponcodeId"
                                                                   autocomplete="off"
                                                                   placeholder="Enter Coupon Code">

                                                            <span id="hh" ng-show="vm.BlankCouponTex">
                                                                Please Enter Coupon Code
                                                            </span>
                                                            <span id="errorCoupon" ng-show="searchItem.ValidCouponCode" style="color:red">
                                                                Please Enter Valid Coupon Code
                                                            </span>
                                                            <span id="errorgreaterAmt" ng-show=" searchItem.couponAmountGreaterTotalAmt" style="color:red">
                                                                Discount amount cannot be greater than total amount.
                                                            </span>
                                                        </td>
                                                        <td class="text-right couponHideShow">
                                                            <button type="button" ng-click="searchItem.GetCouponsDetail()" class="btn btn-green send-button">
                                                                Apply
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr class="total" ng-if="searchItem.couponSucessMessageStatus">
                                                        <td>Discount Amount</td>
                                                        <td class="text-right" id="iddiscountAmt">${{searchItem.price.CouponDiscount  | number: 2}}</td>
                                                    </tr>

                                                    <tr class="total">
                                                        <td>Total</td>
                                                        <td class="text-right" id="idcustomerCost">${{searchItem.price.CustomerCost  | number: 2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-deposit">
                                                <tbody>
                                                    <tr>
                                                        <td>Security deposit</td>
                                                        <td class="text-right">${{searchItem.item.Deposit  | number: 2}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    @*<button type="submit" class="btn btn-green send-button" ng-disabled="!searchItem.price || searchItem.item.CurrentUserIsOwner">Request this item</button>*@
                                    <button type="submit" ng-if="searchItem.item.AgreeToShareImmediately" class="btn btn-green send-button" ng-disabled="!searchItem.price || searchItem.item.CurrentUserIsOwner || !searchItem.IsMinimumRental">
                                        Rent Now
                                    </button>
                                    <button type="submit" ng-if="!searchItem.item.AgreeToShareImmediately" class="btn btn-green send-button" ng-disabled="!searchItem.price || searchItem.item.CurrentUserIsOwner || !searchItem.IsMinimumRental">
                                        Request this item
                                    </button>

                                    <div class="error-msg"
                                         ng-show="(bookingrequest.StartDate.$dirty || bookingrequest.$submitted) && bookingrequest.StartDate.$error.required">
                                        Dates are required
                                    </div>

                                    <div class="error-msg" ng-if="searchItem.item.CurrentUserIsOwner">
                                        You can't book your own item
                                        @*<input type="hidden" name="start" value="{{searchItem.dateStart}}" ng-model="searchItem.item.GoodId" />
                                            <input type="hidden" name="end" value="{{searchItem.item.GoodId}}" ng-model="searchItem.item.GoodId" />*@
                                    </div>

                                    <div class="message-info" ng-show="searchItem.price">
                                        * This allows us to run our platform and offer support to the renters in our community.
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div id="user-info-container" class="user-info">
                            <div class="user-image-name rateBlockItemPage">
                                <div class="user-image left-align">
                                    <img ng-src="{{searchItem.item.UserImageUrl}}" alt="image" />
                                </div>
                                <div class="user">
                                    <label>Owned by</label>
                                    <span>{{searchItem.item.User.FirstName}}</span>
                                </div>
                                <div class="rate-block cancelpercents" ng-hide="searchItem.item.ReviewCount===0">
                                    <ng-rate-it ng-model="searchItem.item.Rank" read-only="true"></ng-rate-it>
                                    <span class="rate-number">({{searchItem.item.ReviewCount}})</span>
                                    <span class="cancelpercentage">{{searchItem.item.CancelledPercentage}}% Cancellation Rate</span>
                                </div>
                                <div class="rate-block zeropercent" ng-show="searchItem.item.ReviewCount===0">

                                    <span class="rate-number">No review for this item </span>
                                    <span class="cancelpercentage">{{searchItem.item.CancelledPercentage}}% Cancellation Rate</span>

                                </div>

                            </div>

                            <a href=@Url.Action("Conversation", "Message", new {userId = Model.ViewModel.User.Id})
                               ng-show="!searchItem.item.CurrentUserIsOwner"
                               class="btn btn-green-reverse">Send message</a>
                            <a class="btn btn-green-reverse"
                               ng-class="searchItem.item.CurrentUserIsOwner ? 'no-margin-left' : ''"
                               href="@Url.Action("UserPublicProfile", "User", new {id = Model.ViewModel.User.Id})">View profile</a>
                        </div>
                        <div>



                            <a class="fa fa-linkedin sociallinks" style="color: #337ab7;" title="Share on LinkedIn" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url=@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Search/Item/@Model.ViewModel.GoodId"></a>

                            <a class="fa fa-twitter sociallinks" style="color: #1da1f2;" title="Share on Twitter" target="_blank" href="http://twitter.com/share?url=@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Search/Item/@Model.ViewModel.GoodId"></a>
                            <a class="fa fa-facebook sociallinks" style="color: #337ab7;" title="Share on Facebook" target="_blank" href="http://www.facebook.com/share.php?u=@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/Search/Item/@Model.ViewModel.GoodId"></a>

                            <a id="pinterest" class="fa fa-pinterest-p sociallinks" style="color: #337ab7;" title="Save on Pinterest" target="_blank" href="#"></a>

                        </div>
                        <br />

                        <div id="mymap">

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Dates Available</h4>
                    <div class="modal-title2" id="datemodel">

                    </div>

                    <a id="cleardates" data-dismiss="modal">Clear dates</a>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Search")
@Scripts.Render("~/Scripts/Libs/jquery")
@Scripts.Render("~/Scripts/Libs/Bootsrap3.4.1")


<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/pepper-grinder/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/dubrox/Multiple-Dates-Picker-for-jQuery-UI/master/jquery-ui.multidatespicker.css">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP9cfi8Ngb5bgwFu253vGDaaTihNMGjXg&callback=initMap"></script>


<script>
    var angularConstants = {
        Item: JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode(Json.Encode(Model.ViewModel)))')
    };
    debugger;
    function untilDisabled(abc) {

        var __startDate = $("#_startDate").val();
        if (abc == "end" && (__startDate == undefined || __startDate == "")) {
            $("#msgShow").css("display", "block");
            $("#pointerId").css("pointer-events", "none");
        }
        else if (abc == "start" && (__startDate == undefined || __startDate == "")) {
            $("#msgShow").css("display", "none");
            $("#pointerId").css("pointer-events", "none");
        }
        else {
            $("#msgShow").css("display", "none");
            $("#pointerId").css("pointer-events", "");
            //$("#start").css("pointer-events", "block");
        }
    }





    $(document).ready(function () {



        $('#pinterest').click(function () {
            window.open('https://www.pinterest.com/pin/create/button/', '_blank');
        })


        if ('@TempData["differ"]' != '') {
            alert("You can rent an item for 21 days only.");
        }

        $('#cleardates').click(function () {
            window.location.reload();
        });

        $("#getdates").click(function () {
         debugger
            $('#myModal').modal('show');

            var shareddates =@Html.Raw(Json.Encode(Model.ViewModel.GoodShareDates));
            var bookeddates =@Html.Raw(Json.Encode(Model.ViewModel.GoodBookedDates));
            var datesArray = [];
                 bookeddates.forEach(removeBookedDates);
                 function removeBookedDates(item, index) {
                     shareddates.splice($.inArray(item, shareddates), 1);
                 }

                 shareddates.forEach(myFunction);
            function myFunction(item, index) {
                datesArray.push(new Date(item.replace(/\./g, '-').replace(/-/g, '/')).setDate(new Date(item.replace(/\./g, '-').replace(/-/g, '/')).getDate()));
                 }

            $('#datemodel').multiDatesPicker({
                addDates: datesArray,
                beforeShowDay: customRange
            });
        });


    });
    $(window).on("load", function () {

        initMap();
    });

    function customRange(input) {
        var daysOfYear = [];
        var startdt = $("#start input").val().replace(/-/g, '/');
        var enddt = $("#end input").val().replace(/-/g, '/');
        for (var d = new Date(startdt); d <= new Date(enddt); d.setDate(d.getDate() + 1)) {
            daysOfYear.push(new Date(d).toDateString());
        }
        var highlight = daysOfYear.find(function (i) { return i == new Date(input).toDateString(); }) != null ? true : false;
        if (highlight) {
            return [true, "selecteddate", ''];
        } else {
            return [true, '', ''];
        }
        return [true, '', ''];
    }

       function initMap() {
        var myLatLng = { lat: @Model.ViewModel.Latitude, lng: @Model.ViewModel.Longitude };
        var map = new google.maps.Map(document.getElementById('mymap'), {
            zoom: 13,
            center: myLatLng,
            gestureHandling: 'none',
            zoomControl: false,
            streetViewControl: false
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: ''
        });
    }

</script>

