﻿@model Apeek.Common.IShape<Momentarily.ViewModels.Models.MomentarilyItemSearchViewModel>
@{
    Layout = "~/Areas/Frontend/Views/Shared/_LayoutNew.cshtml";

}
@section meta
    {
    @*<meta name="google-site-verification" content="tG02v-ZqX3p_2nyAe1D9sUG1RSJuHLJ51FGpjBAIuZM" />*@
    <meta property="title" content="@ViewBag.Title" />
    <meta property="description" content="@ViewBag.Description" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta name="google-site-verification" content="@ViewBag.GoogleSiteVerification" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@HttpContext.Current.Request.Url.ToString()" />
    <meta property="og:image" content="@QuickUrl.AbsoluteUrl(Url.Content(" ~/Content/img/home_bg.jpg"))" />
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
}

@Styles.Render("~/bundles/cssHome")
@Styles.Render("~/Content/css/jqueryUI")
@*<script src="~/Scripts/Libs/angular-carousel.js"></script>*@

@*<link href="~/Content/CustomCssFiles/ChatBot.css" rel="stylesheet" />*@

<div class="content" ng-init="load()" ng-controller="HomeController as home" ng-cloak>

    <section class="mainDiv">
        <div class="homeBanner">
            <img src="~/Content/TemplateImg/OtherImages/banner1.jpg" alt="image" />
        </div>
        <!--search-->
        <div class="searchContainer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <form name="search" class="form-inline home-search"
                              ng-submit="home.submitForm($event, search)"
                              action="@Url.Action("Map", "Search")"
                              method="GET"
                              novalidate
                              id="map_ID">
                            <div class="searchBlock">
                                <div class="form-group">
                                    <div class="filter-selects-block">
                                        <input name="Keyword" id="Keyword" type="text" ng-model="home.keyword" class="form-control input-style-home location-input" placeholder="I'm looking for ..." />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<input id="setlocation" name="Location" autocomplete-location="" ng-model="home.location.Name" class="form-control location-input ng-pristine ng-isolate-scope ng-invalid ng-invalid-autocompleter ng-touched" ng-class="{'error-input': search.$submitted &amp;&amp; search.Location.$error.autocompleter}" latitude="home.location.Location.Latitude" longitude="home.location.Location.Longitude" placeholder="Enter location" place-filter="address" use-current-position="false" autocomplete="off">
                                        <span ng-click="home.findlocation($event, search)" class="fa fa-map-marker"></span>



                                              <span class="error-msg"
                                                    ng-show="search.$submitted && search.Location.$error.autocompleter"
                                                    style="display: block; margin-bottom: -17px;">
                                                  You must select location from the list
                                              </span>*@

                                    <input id="setlocation" name="Location" autocomplete-location="" ng-model="home.location.Name" class="form-control location-input ng-pristine ng-isolate-scope ng-invalid ng-invalid-autocompleter ng-touched" ng-class="{'error-input': search.$submitted &amp;&amp; search.Location.$error.autocompleter}" latitude="home.location.Location.Latitude" longitude="home.location.Location.Longitude" placeholder="Enter location" place-filter="address" use-current-position="true" autocomplete="off">
                                    <span ng-click="home.findlocation($event, search)" class="fa fa-map-marker"></span>

                                </div>

                                <input name="RentPteeriod" id="RentPeriod" type="hidden" ng-value="0" />
                                <input type="hidden" name="Latitude" ng-value="home.location.Location.Latitude" />
                                <input type="hidden" name="Longitude" ng-value="home.location.Location.Longitude" />
                                <input type="hidden" name="CategoryId" ng-value="home.itemTypeSelected" />

                                <div class="form-group">
                                    <button type="submit" id="indexSubmitID" class="btn btn-green">Search</button>
                                </div>
                            </div>
                            <!---->
                            <div class="bottomBlock">
                                <button type="submit" ng-repeat="type in home.availableItemTypes"
                                        data-tap-disabled="true"
                                        n-click="home.selectCategory(type.Id)"
                                        class="btn btn-default categoryCls">
                                    <div class="img-wrapper">
                                        <img alt="image" class="category-img" ng-if="type.ImagePath =='/Content/Images/Category/Fashion.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img" ng-if="type.ImagePath =='/Content/Images/Category/Education.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img" ng-if="type.ImagePath =='/Content/Images/Category/Electronics.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img" ng-if="type.ImagePath =='/Content/Images/Category/Events.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img home" ng-if="type.ImagePath =='/Content/Images/Category/Home.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img" ng-if="type.ImagePath =='/Content/Images/Category/Kitchen.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img" ng-if="type.ImagePath =='/Content/Images/Category/Outdoors.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img home" ng-if="type.ImagePath =='/Content/Images/Category/Motorized.svg'" ng-src="{{ type.ImagePath }}" />
                                        <img alt="image" class="category-img home" ng-if="type.ImagePath =='/Content/Images/Category/Tools.svg'" ng-src="{{ type.ImagePath }}" />

                                    </div>
                                    <div class="category" ng-bind-html="type.Name | addSpanTag"></div>
                                </button>
                            </div>
                            <!---->
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="searchContainer1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="proHeading">
                        <h1>Recently Rented Products </h1>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="sliderCarousel waterMark">
                        <div class="owl-carousel owl-theme" id="productCarousel">
                            @foreach (var item in ViewBag.RecentlyRentedItems)
                            {
                                <div class="item itemCls">
                                    <div class="thumbImage">
                                        <a href="/Search/Item/@item.GoodId" title="Product Image">
                                            <img src="@item.GoodImageUrl" alt="image" />
                                        </a>
                                    </div>
                                    <div class="thumbDesc">
                                        <a href="/Search/Item/@item.GoodId" title="@item.Name">
                                            <h2>@item.Name</h2>
                                        </a>
                                        @if (item.RentPeriodDay && !item.RentPeriodWeek)
                                        {
                                            <p>$ {{@item.Price| number: 2}} /Per day</p>
                                        }
                                        else if (!item.RentPeriodDay && item.RentPeriodWeek)
                                        {
                                            <p>$ {{@item.PricePerWeek| number: 2}} /Per week</p>
                                        }
                                        else
                                        {
                                            <p>$ {{@item.Price| number: 2}} /Per day&nbsp;<span class="frwdSlace">/</span>&nbsp;$ {{@item.PricePerWeek| number: 2}} /Per week</p>
                                        }

                                    </div>
                                </div>
                            }
                            @*<div class="item">
                                    <div class="thumbImage"><img src="~/Content/TemplateImg/OtherImages/car-image2.jpg" alt="image"/></div>
                                    <div class="thumbDesc">
                                        <h2>Wooden Box Bed (6.5x5)ft</h2>
                                        <p>$200/month</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="thumbImage"><img src="~/Content/TemplateImg/OtherImages/car-image1.jpg" alt="image"/></div>
                                    <div class="thumbDesc">
                                        <h2>Wooden Box Bed (6.5x5)ft</h2>
                                        <p>$200/month</p>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="productDifferent">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-sm-12 pad0">
                    <div class="productDesc1">
                        <div class="owl-carousel owl-theme" id="productSlider">
                            <div class="item">
                                <div class="videoSection">
                                    <div class="videoInnerSection">
                                        <video loop="" @*oncanplay="this.play()"*@ poster="/Content/TemplateImg/OtherImages/videoimage.jpg" preload="auto" controls id="videoIdOne">
                                            <source src="/Content/Videos/video1.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <div class="productInnerDesc productDesc">
                                    <h2>A Sharing Community</h2>
                                    <p> <b>momentarily</b> is changing the way people consume products. Through our community sharing marketplace, people and businesses can loan their belongings and spaces for an affordable price. <a href="@QuickUrl.RegisterUrl()"> Sign Up</a> today and start enjoying the benefits!</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="videoSection1">
                                    <div class="videoInnerSection1">
                                        <video loop="" @*oncanplay="this.play()"*@ poster="/Content/TemplateImg/OtherImages/videoimage.jpg" preload="auto" controls id="videoIdTwo">
                                            <source src="/Content/Videos/video2.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                                <div class="productInnerDesc productDesc">
                                    <h2>No Commitments, Just Moments</h2>
                                    <p>Why buy or sell your stuff when you can borrow and loan through your community? <a href="@Url.Action("Create", "Listing")">Join</a> our sharing economy to save and make money, reduce environmental impact, and even create new memories </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="aboutUs">
        <div class="container">
            <div class="row mb-80">
                <div class="mainBox">
                    <div class="col-md-6 col-sm-6">
                        <div class="thumbImage">
                            <img src="~/Content/TemplateImg/OtherImages/homegraphic1.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="abtContent">
                            <h2>Earn Extra Cash</h2>
                            <p>Got some nice stuff lying around that you don’t often use like a bicycle, camera, backpack, or a studio space? Put those valuable assets to work by <a href="@Url.Action("Create", "Listing")"> listing </a> them for rent on <b>momentarily's</b> community sharing marketplace.</p>
                            <h2>Save Money</h2>
                            <p>Is a high price tag holding you back from your desires and dreams? What if you could borrow recording studio space for a few hours? Or a video camera for capturing your baby’s first birthday? How about a high-speed blender so you can try it out before buying your own? <a href="/Search/Map">Browse items</a> near you and start saving today as part of the <b>momentarily</b> sharing community!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mainBox">
                    <div class="col-md-6 col-sm-6 fRight">
                        <div class="thumbImage">
                            <img src="~/Content/TemplateImg/OtherImages/homegraphic2.png" alt="image" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="abtContent">
                            <h2>Reduce your Ecological Footprint</h2>
                            <p>Many precious natural resources are used and pollutants are produced in the manufacture of new products. Reduce your ecological footprint through <b>momentarily's</b> peer-to-peer <a href="@Url.Action("Create", "Listing")">sharing network.</a> Want to step up your impact a notch? Pick up or deliver items by walking, biking, or using public transportation.</p>
                            <h2>Build Community</h2>
                            <p><a href="@Url.Action("Create", "Listing")">Loaning</a> and <a href="/Search/Map">borrowing</a> items through <b>momentarily</b> is a great starting point for building relationships around similar interests. You will meet people and businesses that share your values of building community and reducing environmental impact. Spread the word about momentarily to your social networks and help our community grow!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--featured product -->
    <section class="fetauredProduct">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="featureheading">
                        <h2>Featured Products </h2>
                    </div>
                </div>
            </div>
            <div class="row waterMark">
                @foreach (var item in ViewBag.FeaturedProduct)
                {
                    <div class="col-sm-6">
                        <div class="featureDesc">
                            <div class="featureImage">
                                <a href="/Search/Item/@item.GoodId" title="Product Image">
                                    <img src="@item.GoodImageUrl" alt="image" />
                                </a>

                            </div>
                            <a href="/Search/Item/@item.GoodId" title="@item.Name">
                                <h3>@item.Name</h3>
                            </a>


                            @if (item.RentPeriodDay && !item.RentPeriodWeek)
                            {
                                <p>$ {{@item.Price| number: 2}} /Per day</p>
                            }
                            else if (!item.RentPeriodDay && item.RentPeriodWeek)
                            {
                                <p>$ {{@item.PricePerWeek| number: 2}} /Per week</p>
                            }
                            else
                            {
                                <p>$ {{@item.Price| number: 2}} /Per day&nbsp;<span class="frwdSlaceFeatured">/</span>&nbsp;$ {{@item.PricePerWeek| number: 2}} /Per week</p>
                            }
                        </div>
                    </div>
                }

                @*<div class="col-sm-6">
                        <div class="featureDesc">
                            <div class="featureImage"><img src="~/Content/TemplateImg/OtherImages/productimage2.jpg" alt="image" /></div>
                            <h3>Leather Sofa (5 months old)</h3>
                            <p>$ 230 /month</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="featureDesc">
                            <div class="featureImage"><img src="~/Content/TemplateImg/OtherImages/productimage1.jpg" alt="image" /></div>
                            <h3>Leather Sofa (5 months old)</h3>
                            <p>$ 230 /month</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="featureDesc">
                            <div class="featureImage"><img src="~/Content/TemplateImg/OtherImages/productimage2.jpg" alt="image" /></div>
                            <h3>Leather Sofa (5 months old)</h3>
                            <p>$ 230 /month</p>
                        </div>
                    </div>*@
            </div>
        </div>
    </section>
    <!--block icons -->
    <section class="blockIcons">
        <div class="container-fluid">
            <div class="row">
                <div class="iconBlock">
                    <div class="iconImage"><img src="~/Content/TemplateImg/OtherImages/ico-1.svg" alt="image" /></div>
                    <h3>Your Schedule</h3>
                    <p>Only want to loan stuff during the weekends? Want to have the option to rent per day or week? You got it.</p>
                </div>
                <div class="iconBlock">
                    <div class="iconImage"><img src="~/Content/TemplateImg/OtherImages/ico-6.svg" alt="image" /></div>
                    <h3>Fees</h3>
                    <p>Feel free to list as many items as you want at the price you want. You will only be charged when your item is loaned out.</p>
                </div>
                <div class="iconBlock">
                    <div class="iconImage"><img src="~/Content/TemplateImg/OtherImages/ico-3.svg" alt="image" /></div>
                    <h3>Listings</h3>
                    <p>Feel free to list almost anything with the exception of services, vehicles, overnight housing, or anything illegal or dangerous.</p>
                </div>
                <div class="iconBlock">
                    <div class="iconImage"><img src="~/Content/TemplateImg/OtherImages/ico-4.svg" alt="image" /></div>
                    <h3>Worry free</h3>
                    <p>Worried about loaning your stuff? There's no need to since you can set a deposit amount for your item. We are working on having an insurance option as well.</p>
                </div>
                <div class="iconBlock">
                    <div class="iconImage"><img src="~/Content/TemplateImg/OtherImages/ico-7.svg" alt="image" /></div>
                    <h3>Delivery</h3>
                    <p>When you list an item, you can specify for it to be picked up, or you can deliver it and charge $1.50/mile with a minimum of a $5 charge.</p>
                </div>
            </div>
        </div>
    </section>
    <!--subscriber -->
    <section class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="subscribeInner">
                        <h4>Subscribe to Our Newsletter</h4>
                        <p>For latest updates and news</p>

                        <div class="input-group">
                            <input type="email" id="subscribeEmail" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button type="button" id="btn_subscribe" class="btn">Subscribe</button>
                            </span>

                        </div>
                        <span class="subscribe_msg red" id="subscribe_msg_error" style="display:none; text-align:left;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Invalid email address.</span>
                        <span class="subscribe_msg green" id="subscribe_msg_error2" style="display:none; text-align:left;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please enter email address.</span>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--footer section-->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 full">
                    <div class="footerDesc">
                        <h5>momentarily</h5>
                        <p>A peer-to-peer marketplace for people and businesses to share their belongings for an affordable price, or borrow something for the moment.</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-1 col-sm-12 col-xs-12 ">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 full">
                            <div class="footerDesc">
                                <h5>Company</h5>
                                <ul>
                                    <li><a href="@Url.Action("Index", "Home")" id="btn_home"><i class="fa fa-caret-right" aria-hidden="true"></i> Home</a></li>
                                    <li><a href="@Url.Action("AboutUs", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                    <li><a href="@Url.Action("FAQ", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>  FAQ</a></li>
                                    <!--  <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Videos</a></li>
                                       <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Blog</a></li>
                                       <li><a href="/contactus"><i class="fa fa-caret-right" aria-hidden="true"></i> Help</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 full">
                            <div class="footerDesc">
                                <h5>Quick Links</h5>
                                <ul>
                                    <li><a href="@Url.Action("HowItWorks", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> How it Works </a></li>
                                    <li><a href="@Url.Action("Create", "Listing")"><i class="fa fa-caret-right" aria-hidden="true"></i> Share </a></li>
                                    <li><a href="" id="becomeBorrower"><i class="fa fa-caret-right" aria-hidden="true"></i> Borrow </a></li>
                                    <li><a href="@Url.Action("ContactUs", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>  Help</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4 full">
                            <div class="footerDesc">
                                <h5>Contact Us</h5>
                                <ul>
                                    <li><a href="mailto:hello@momentarily.com"><i class="fa fa-envelope" aria-hidden="true"></i> hello@momentarily.com</a></li>
                                </ul>
                                <ul class="socialLinks">
                                    <li><a href="https://www.instagram.com/momentarily/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.facebook.com/momentarily" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="https://twitter.com/momentarilycom" target="_blank" title="
                                 Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li><a href="https://www.youtube.com/momentarily" target="_blank" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

                                    <li id="pintrest"><a href="https://www.pinterest.com/momentarilycom/" target="_blank" title="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>


                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!---->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="copyrightDesc">
                        <ul>
                            <li><a href="/termsofuse">Terms &amp; Conditions</a></li>
                            <li><a href="/privacypolicy" class="ppBtn"><img src="~/Content/TemplateImg/images/privacy-policy_icon.png" alt="image"/> Privacy Policy</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="copyrightDesc">
                        <p>@DateTime.Now.Year <b>momentarily</b><sup id="trademark">TM</sup></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--bottom to top scroll-->
    <a href="#" id="scroll" style="display:none;" title="Bottom to Top Scroll">
        <span class="goto">Go To</span> <span class="top-text">Top</span>
    </a>
    <div class="chatBooat">
        <div class="chatBooatSection" style="display:none">
            <div class="cbHeader">
                <h2>momentarily chatbot <button class="chatbox-maximize chat-reset" onclick="RefreshChat();"><i class="fa fa-close" aria-hidden="true"></i></button></h2>
            </div>
            <div class="cbContent">
                <div class="chatBotContentSection">
                    <p>Hello, How can i help you.</p>
                    <p id="momentarilyUser">Are you momentarily user?</p>
                </div>
                <div class="chatBotConentSection">
                    <div class="row momentarilyUserYesNo form-group" style="margin-top: -18px;">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-12 yesNoBtn">
                            <button type="button" id="momentarilyYes">Yes</button>
                            <button type="button" id="momentarilyNo">No</button>
                        </div>
                    </div>
                    <div id='loading'>
                        <div id='loading-center-absolute'>
                            <div class='object' id='object_one'></div>
                            <div class='object' id='object_two'>
                            </div><div class='object' id='object_three'>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
      
        </div>



        @*<button class="chatbox-close" id="chatBotCloseId" style="display: none;"> <i class="fa fa-close fa-2x" aria-hidden="true"></i></button>
        <button class="chatbox-open" id="chatBotOpenId"><i class="fa fa-comment fa-2x" aria-hidden="true"></i></button>*@
    </div>

    <div id="passwordRestSuccessModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    @*<h4 class="modal-title">Done</h4>*@
                    <h4 class="modal-title2">You have changed your password successfully!</h4>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </div>

        </div>
    </div>

    @*<div id="welcomeModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                        <h4 class="modal-title2">Join Our Mailing List</h4>
                        <input type="text" id="subscribeEmailpopup" class="form-control" placeholder="Enter your email" />
                        <button type="button" id="subscribepopupbtn" class="btn btn-green">Subscribe</button>
                    </div>

                </div>

            </div>
        </div>*@
    @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
    @*<div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog sizeLg">


                <div class="modal-content">
                    <div class="modal-body text-center">
                        <span class="popupLogo">
                            <img src="~/Content/TemplateImg/images/mometarily-logo.png" alt="image" class="img-responsive">
                            <img src="~/Content/TemplateImg/images/beta.png" alt="image" class="img-responsive beetaImage">
                        </span>
                        <p><strong>momentarily.com</strong> is launching soon!  Leave us your email below and we'll notify you the minute we officially start. In the meantime, feel free to check out our BETA site, and even upload items that you are thinking about loaning out.  We are currently limiting the ability to view rentals, however anything uploaded now will be visible on our official launch day.  If you have any feedback or suggestions, drop us a message at <a href="mailto:hello@momentarily.com">hello@momentarily.com</a>  We hope you enjoy your experience!</p>
                    </div>

                    <div class="subscribeBox">
                        <input type="text" id="subscribeEmailpopup" class="form-control" placeholder="Enter your email" />
                        <button type="button" id="subscribepopupbtn" class="btn btn-green">Subscribe</button>
                    </div>
                </div>

            </div>
        </div>*@


    <div id="divLoading">
        <p>
            Loading. Please wait...<br />
            <span>
                <img src="~/Content/Images/circleloadinganimationOrignal.gif" alt="image" />
            </span>
        </p>

    </div>

    @*<div class="modal fade socialPopupModal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content col-12">
                    <div class="modal-header">
                        <h5 class="modal-title">Alert!</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                    <div class="modal-body">
                        <div class="icon-container1 d-flex row">
                            <div class="col-sm-12">
                                <p>Welcome to the beta site for <b>momentarily</b>.  Currently we are not allowing rentals, however you can begin to upload items in our system so that when we go live, you will be all set to go!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

</div>

<link href="~/Content/CustomCssFiles/CommonForAllPages.css" rel="stylesheet" />
@*@Scripts.Render("~/Scripts/Libs/jquery")*@

@Scripts.Render("~/bundles/scripts/Home")
@Scripts.Render("~/Scripts/Libs/Jquery1102")
@Scripts.Render("~/Scripts/Libs/jquery1114")
@Scripts.Render("~/Scripts/Libs/Bootsrap3.4.1")
<link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
<script src="~/Content/ToastMessage/toastr.min.js"></script>

@*<script src="~/Content/TemplateImg/js/jquery.nicescroll.min.js"></script>*@
<script src="~/Content/TemplateImg/js/owl.carousel.js"></script>
@*<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBP9cfi8Ngb5bgwFu253vGDaaTihNMGjXg&amp;signed_in=false&amp;libraries=places&amp;language=en&amp;callback=googleMapsInitialized"></script>*@
@*<script src="~/Scripts/Home/ChatBot.js"></script>*@
<script>

    var verifiedAccountOrNot = '@TempData["CheckForCBVerifyAccount"]';


    var angularConstants = {
        Categories: JSON.parse('@Html.Raw(Json.Encode(Model.ViewModel.Categories))')
    }

    var resetPassword = '@TempData["ResetPassword"]';

    var dibAppend = "<p class='verifiedAccontId'>Please provide your email and phone number. A verification to your account.</p>"
    + "<div class='row verifiedAccontId'>"
    + "<div class='col-sm-6 rsSpaceMob'><input type='text' id='cbemailId' placeholder='Email' onkeyup='EnableButton()' name='' /></div>"
    + "<div class='col-sm-6'><input type='text' id='cbphoneno' placeholder='Phone Number' onkeyup='EnableButton()' name='' /></div>"
    + "<div class='col-sm-6'></div>"
    + "<div class='col-sm-6 verificationBtn'><button type='button' id='cbverifyAcc' disabled >Verify Account <i class='fa fa-paper-plane' aria-hidden='true'></i></button></div>"
    + "</div>";


    $("#momentarilyYes").on("click", function () {
        
        if (verifiedAccountOrNot == "False") {
            setTimeout(function () {
                $(".cbContent").append(dibAppend);
            }, 5000);
            $(".momentarilyUserYesNo ").css("display", "none");
            $(".verifiedAccontId").css("display", "block");
        }
        else {
           
            $(".momentarilyUserYesNo ").css("display", "none");

            $("div").remove("#cbtopicId");
            removeTextfromInput();
            $(".verifiedAccontId").css("display", "none");
            GetTopics();
        }
    });


    $("#momentarilyNo").on("click", function () {
        $("#loading").show();
        var response = {};
        $("div").remove("#cbtopicId");
        removeTextfromInput();
        $(".momentarilyUserYesNo ").css("display", "none");
        $(".verifiedAccontId").css("display", "none");
        response.Message = "Please choose the category,In which you need help.";
        response.Class = "needHelp";
        setTimeout(function () {
            ChatHandler(response);
            GetTopics();
        }, 2000);


    });
    $("#chatBotOpenId").on("click", function () {
   


        if (verifiedAccountOrNot == "False") {
            $(".chatBooatSection").css("display", "block");
            $("#chatBotCloseId").css("display", "inline-block");
            //$(".verifiedAccontId").css("display", "none");
            $(".needHelp").remove();
            $("div").remove("#cbtopicId");
            removeTextfromInput();
            $(".momentarilyUserYesNo").css("display", "block");
            $(".matchFound").remove();
            $("#loading").hide();
            $(".noMatchFound").remove();
            $(".againVerificationPopupOpen").remove();
            $(".verifiedAccontId").remove();
            $(".NoQuestionFound").remove();
            
        }
        else {

            $(".chatBooatSection").css("display", "block");
            $("#chatBotCloseId").css("display", "inline-block");
            $(".momentarilyUserYesNo ").css("display", "none");
            $("#momentarilyUser ").css("display", "none");
            
            $("div").remove("#cbtopicId");
            $(".NoQuestionFound").remove();
            removeTextfromInput();
            $(".verifiedAccontId").css("display", "none");

            var resultMessage = {};
            resultMessage.Message = "Please choose the category,In which you need help.";
            resultMessage.Class = "needHelp";
            ChatHandler(resultMessage);

            GetTopics();
        }
        $("div").remove("#cbQuestionId");
    });




    $("#chatBotCloseId").on("click", function () {
        if (verifiedAccountOrNot == "False") {
            removeTextfromInput();
            $(".chatBooatSection").css("display", "none");
            $("#chatBotCloseId").css("display", "none");
        }
        else {
            $(".needHelp").remove();
            removeTextfromInput();
            $(".chatBooatSection").css("display", "none");
            $("#chatBotCloseId").css("display", "none");
        }
    });


    function GetTopics() {
        var resultMessage = {};
        var buttons = '';

        $.ajax({
            url: "/Home/GetTopics",
            type: "Get",
            success: function (data) {
               $("#loading").hide();
                if (data != null) {
                    jQuery.each(data, function (key, value) {
                        buttons += "<button type='button' class='' onclick='GetChatBotQuestion(\"" + value.Id + "\");'>" + value.Name + "</button>";
                    });
                    var buttonsHTML = "<div class='row' id='cbtopicId'>" + buttons + "</div>";
                }
                else {
                  
                    resultMessage.Message = "Nothing happened here please try again.";
                    resultMessage.Class = "NoTopicFound";
                    ChatHandler(resultMessage);
                }

                $('.cbContent').append(buttonsHTML);
            },
            error: function () {
                toastr.info("Error Occurred");
            }
        })
    }

    function removeTextfromInput() {
        $("#cbemailId").val('');
        $("#cbphoneno").val('');
    }


    function EnableButton() {
       
        var email = jQuery("#cbemailId").val();
        var phone = jQuery("#cbphoneno").val();
        if (email != '' && phone != '') {
          
            jQuery('#cbverifyAcc').removeAttr('disabled');
            
        }
        else {
           
            jQuery('#cbverifyAcc').attr('disabled', 'disabled');
        }
    }

    $(document).on('click', '#cbverifyAcc', function () {

        var cbemailId = $("#cbemailId").val();
        var cbphoneno = $("#cbphoneno").val();
        var response = {};

        setTimeout(function () {

            $("#loading").show();
            $.ajax({
                url: "/Home/CheckAccountVerification",
                type: "Get",
                data: { email: cbemailId, phone: cbphoneno },
                success: function (data) {
                    
                    if (data == true || data == "true") {
                        $(".noMatchFound").remove();
                        response.Message = "Your account activate successfully.";
                        response.Class = "matchFound";

                        ChatHandler(response);
                        var resultMessage = {};
                        resultMessage.Message = "Please choose the category,In which you need help.";
                        resultMessage.Class = "needHelp";
                        ChatHandler(resultMessage);

                        GetTopics();
                        $(".verifiedAccontId").css("display", "none");
                    }
                    else {
                        $(".matchFound").remove();
                        response.Message = "Sorry I was not able to find your account with the information you provided. Let's try again...";
                        response.Class = "noMatchFound";
                        ChatHandler(response);
                        $(".verifiedAccontId").css("display", "none");
                        $("#loading").hide();
                    }
                    if (data != true) {

                        var buttonsHTML = "<button type='button' class='againVerificationPopupOpen'onclick='AgainVerificationPopupOpen();'>Please try again to start</button>";
                        var bindbutton = "<div class='row'><div class='col-sm-6'></div><div class='col-sm-6 tryAgainVerification'>" + buttonsHTML + "</div></div>";
                    }
                    $('.cbContent').append(bindbutton);
                },
                error: function () {
                    toastr.info("Error Occurred");
                }
            })
        }, 2000);
        $("#loading").hide();

    });

    function AgainVerificationPopupOpen() {
        
        $(".againVerificationPopupOpen").remove();
        $(".verifiedAccontId").remove();
        $(".noMatchFound").remove();
        setTimeout(function () {
            $(".cbContent").append(dibAppend);
        }, 5000);
    }

    function ChatHandler(response) {
        jQuery('.chatBotContentSection').append("<p class='message " + response.Class + "'>" + response.Message + "</p>");

        //if (response.NextBotTag == 'AskFirstLastName' || response.NextBotTag == 'GetFirstLastName' || response.NextBotTag == 'ChooseAccountNoFoundOptions') {
        //    jQuery('.customerinfo , .verifyphone, .VerificationCodeSent').remove();
        //    ClientConversation(response.NextBotTag);
        //}
        //scrollToBottom();
    }

    function GetChatBotQuestion(id)
    {
      
        var resultMessage = {};
        $("div").remove("#cbQuestionId");
        $(".NoQuestionFound").remove();
        var buttons = '';
        $("#loading").show();
        var topicID = id;

        setTimeout(function () {
        $.ajax({
            url: "/Home/GetChatBotQuestion",
            type: "Get",
            data: { topicId: topicID },
            success: function (data) {             
                if (data != null) {
                    $("#loading").hide();
                    if (data != null && data.length != 0) {
                        
                        jQuery.each(data, function (key, value) {
                            buttons += "<button type='button' class='' onclick='GetChatBotQuestionAnswer(\"" + value.Id + "\");'>" + value.Question + "</button>";
                        });
                        var buttonsHTML = "<div class='row' id='cbQuestionId'>" + buttons + "</div>";
                        $('.cbContent').append(buttonsHTML);
                    }
                    else {
                        
                        resultMessage.Message = "Nothing happened here please try again or choose another topic.";
                        resultMessage.Class = "NoQuestionFound";
                        ChatHandler(resultMessage);
                    }

                   
                }
                else {
                    
                }
            },
            error: function () {
                toastr.info("Error Occurred");
            }
        })
        }, 5000);
    }
    
    function GetChatBotQuestionAnswer(id) {

        var resultMessage = {};
        //$("div").remove("#cbQuestionId");
        var buttons = '';
        $("#loading").show();
        var questionID = id;
        setTimeout(function () {
            $.ajax({
                url: "/Home/GetChatBotQuestionOrAnswer",
                type: "Get",
                data: { questionId: questionID },
                success: function (data) {
                    if (data != null) {
                        $("#loading").hide();
                        if (data != null && data.length != 0) {

                            //jQuery.each(data, function (key, value) {
                            //    buttons += "<button type='button' class='' onclick='GetCBQuestionAnswer(\"" + value.Id + "\");'>" + value.Question + "</button>";
                            //});
                            //var buttonsHTML = "<div class='row' id='cbQuestionId'>" + buttons + "</div>";
                            //$('.cbContent').append(buttonsHTML);
                        }
                        else {

                            //resultMessage.Message = "Nothing happened here please try again or choose another question.";
                            //resultMessage.Class = "NoQuestionFound";
                            //ChatHandler(resultMessage);
                        }


                    }
                    else {

                    }
                },
                error: function () {
                    toastr.info("Error Occurred");
                }
            })
        }, 5000);
    }

    $(document).on('click', '#becomeBorrower', function () {

        $.ajax({
            url: "/Search/CheckVersion",
            type: "Get",
            success: function (data) {
                if (data == "True" || data == "true") {

                    $('#myModalLayoutNew').modal();
                }
                else {
                    window.location.href = '/Search/Map';
                }
            },
            error: function () {
                toastr.info("Error Occurred");
            }
        })

    });
    $(document).ready(function () {
        
        var cbemailId = $("#cbemailId").val();
        var cbphoneno = $("#cbphoneno").val();

        //jQuery("#cbverifyAcc").attr('disabled', 'disabled');



        //$('#pintrest').click(function () {
        //  window.open('https://www.pinterest.com/momentarilycom/', '_blank');
        // })


        if (resetPassword != '') {
            $('#passwordRestSuccessModal').modal('show');
        }
        else {

            var ExpireOn = localStorage.getItem("welcome")
            // var welcome = $.cookie("welcome");
            if (ExpireOn == "" || ExpireOn == undefined || ExpireOn == null) {
                var date = new Date()
                date.setDate(date.getDate() + 1)
                localStorage.setItem("welcome", date);
                //$.cookie("welcome", "welcome", { expires: date, secure: false });
                $('#myModalLayoutNew').modal();
            }
            else {
                var date = new Date();
                if (date > new Date(ExpireOn)) {
                    $('#myModalLayoutNew').modal();
                    date.setDate(date.getDate() + 1)
                    localStorage.setItem("welcome", date);
                }
            }
        }

        pausePlayer();

        var tempSubscribeMsg = '@TempData["SubscriberMsg"]';
        if (tempSubscribeMsg != '') {
            toastr.info(tempSubscribeMsg);
        }

        var tempUnSubscribeMsg = '@TempData["UnSubscriberMsg"]';
        if (tempUnSubscribeMsg != '') {
            toastr.info(tempUnSubscribeMsg);
        }

        varCcheckVersionWithoutLogin = '@TempData["checkVersionWithoutLogin"]';
        if (varCcheckVersionWithoutLogin != '') {
            $('#myModalLayoutNew').modal('show');
            return false;
        }


        var checkSiteVersion = '@TempData["CheckSiteVersion"]';

        if (checkSiteVersion != 'Beta') {
            $(".waterMark").removeClass("waterMark")
        }


        $("#indexSubmitID").click(function () {

            if (checkSiteVersion == 'Beta') {
                $('#myModalLayoutNew').modal('show');
                return false;
            }
            else {

                $("#map_ID").submit();
                $('#myModalLayoutNew').modal('hide');
            }

        });
        $(".categoryCls").click(function () {

            if (checkSiteVersion == 'Beta') {
                $('#myModalLayoutNew').modal('show');
                return false;
            }
            else {

                $("#map_ID").submit();
                $('#myModalLayoutNew').modal('hide');
            }

        });
        $(document).on('click', '.itemCls', function () {
            if (checkSiteVersion == 'Beta') {
                $('#myModalLayoutNew').modal('show');
                return false;
            }
            else {

                $("#map_ID").submit();
                $('#myModalLayoutNew').modal('hide');
            }
        });
        $(document).on('click', '.featureDesc', function () {
            if (checkSiteVersion == 'Beta') {
                $('#myModalLayoutNew').modal('show');
                return false;
            }
            else {

                $("#map_ID").submit();
                $('#myModalLayoutNew').modal('hide');
            }
        });

        //$(".SharerListingCls").click(function () {

        //    toastr.error("Please update the payment details first...");

        //});

        $("#Keyword").autocomplete({

            source: function (request, response) {
                $.ajax({
                    url: "/Home/SearchMap",
                    type: "Post",
                    dataType: "json",
                    data: { searchmodel1: '@Html.Raw(Json.Encode(Model))', Filter: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name };
                        }))
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });

        $("#btn_subscribe").click(function () {

            var email = $("#subscribeEmail").val();
            if (email == undefined || email == '') {
                $("#subscribeEmail").focus();
                $("#subscribe_msg_error2").css("display", "block");
                $("#subscribe_msg_error").css("display", "none");
                return;
            }
            else if (!ValidateEmail(email)) {
                $("#subscribeEmail").focus();
                $("#subscribe_msg_error2").css("display", "none");
                $("#subscribe_msg_error").css("display", "block");
                return;
            }
            else {
                $('#divLoading').show();
                $.ajax({
                    url: "/Account/Subscribe",
                    type: "Post",
                    dataType: "json",
                    data: { Email: email },
                    success: function (data) {
                        if (data == "Subscribed") {
                            toastr.success(data);
                            $("#subscribeEmail").val('');
                            $("#subscribe_msg_error2").css("display", "none");
                            $("#subscribe_msg_error").css("display", "none");
                            $('#divLoading').hide();
                        }
                        else {
                            toastr.info(data);
                            $("#subscribeEmail").val('');
                            $("#subscribe_msg_error2").css("display", "none");
                            $("#subscribe_msg_error").css("display", "none");
                            $('#divLoading').hide();
                        }
                    },
                    error: function () {
                        toastr.info("Error Occurred");
                        $('#divLoading').hide();
                    }
                })
            }

        });

        $("#btn_home").click(function () {
            $('html, body').animate({
                scrollTop: $('.container-fluid').offset().top
            }, 1000);
        })

        //$("#subscribepopupbtn").click(function () {

        //    var email = $("#subscribeEmailpopup").val();
        //    if (email == undefined || email == '') {
        //        $("#subscribeEmailpopup").focus();
        //        toastr.warning("Please Enter Your E-mail Id");
        //        return;
        //    }
        //    else if (!ValidateEmail(email)) {
        //        $("#subscribeEmailpopup").focus();
        //        toastr.warning("Invalid email address.");
        //        return;
        //    }
        //    else {
        //        $('#divLoading').show();
        //        $.ajax({
        //            url: "/Account/Subscribe",
        //            type: "Post",
        //            dataType: "json",
        //            data: { Email: email },
        //            success: function (data) {
        //                if (data == "Subscribed") {
        //                    toastr.success("Successfully Subscribed ");
        //                    $('#myModalLayoutNew').modal('toggle');
        //                    $('#divLoading').hide();
        //                }
        //                else if (data == "Already subscribed.") {
        //                    toastr.info("Already Subscribed");
        //                    $('#myModalLayoutNew').modal('toggle');
        //                    $('#divLoading').hide();
        //                }
        //                else {
        //                    toastr.error(data);
        //                    $('#divLoading').hide();
        //                }
        //            },
        //            error: function (data) {
        //                toastr.error("Error Occurred");
        //                $('#divLoading').hide();
        //            }

        //        });
        //    }

        //});


        $(document).scroll(function () {
            var a = $(this).scrollTop();
            if (a > 550) {
                var videos = document.querySelectorAll('video');
                for (var i = 0; i < videos.length; i++) {
                    videos[i].pause();
                }
            }
        });


        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#scroll').fadeIn();
            } else {
                $('#scroll').fadeOut();
            }
        });
        $('#scroll').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });

    });

    var htmlPlayer = document.getElementsByTagName('video');

    function pausePlayer() {
        for (var i = 0; i < htmlPlayer.length; i++) {
            htmlPlayer[i].pause();
        }
    }



    $('#productCarousel').owlCarousel({
        loop: true,
        margin: 20,
        nav: true,
        autoplay: true,
        autoplayTimeout: 3500,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1,
            },
            600: {
                items: 3,
            },
            1000: {
                items: 4,
            }
        }
    });
    $('#productSlider').owlCarousel({
        loop: false,
        margin: 20,
        nav: true,
        responsive: {
            0: {
                items: 1,
            },
            600: {
                items: 1,
            },
            1000: {
                items: 1,
            }
        }
    });


    $('.owl-prev').click(function () {
        var videos = document.getElementsByTagName('video');
        videos[1].pause();

    });

    $('.owl-next').click(function () {
        var videos = document.getElementsByTagName('video');
        videos[0].pause();

    });


    jQuery(function ($) {
        //offcanvas
        $('#offcanvas-toggler').on('click', function (event) {
            event.preventDefault();
            $('body').addClass('offcanvas');
        });
        $('<div class="offcanvas-overlay"></div>').insertBefore('.body-innerwrapper > .offcanvas-menu');
        $('.close-offcanvas, .offcanvas-overlay').on('click', function (event) {
            event.preventDefault();
            $('body').removeClass('offcanvas');
        });

    });


    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };

</script>
<style>
    #divLoading {
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #666666;
        z-index: 30001;
        opacity: .8;
        filter: alpha(opacity=70);
        display: none;
        text-align:center;
    }

        #divLoading p {
            position: fixed;
            top: 30%;
            left: 45%;
            color: White;
        }

        #divLoading span > img {
            padding-left: 44px;
        }


    .waterMark .thumbImage:before {
        position: absolute;
        content: "This could be your future rental!";
        width: 100%;
        height: auto;
        padding: 3px;
        font-weight: bold;
        left: 0;
        color: #000;
        font-family: 'lato', sans-serif;
        font-size: 18px;
        background-color: rgba(208,207,207,0.6);
        bottom: 0;
        text-transform: uppercase;
        line-height: 23px;
        padding: 5px 15px;
    } 

 

    .waterMark .thumbImage, .waterMark .featureImage {
        position: relative;
    }

        .waterMark .featureImage:before {
            position: absolute;
            content: "This could be your future rental!";
            width: 100%;
            height: auto;
            padding: 3px;
            font-weight: bold;
            left: 0;
            color: #000;
            font-family: 'lato', sans-serif;
            font-size: 21px;
            background-color: rgba(208,207,207,0.6);
            bottom: 0;
            text-transform: uppercase;
            line-height: 23px;
            padding: 20px 15px;
        }



    .modal-dialog.sizeLg {
        max-width: 960px;
        width: 100%;
        margin: 3% auto 0;
        padding: 15px;
        font-size: 16px;
    }

    .modal#myModalLayoutNew {
        z-index: 99999;
    }

    .modal-backdrop.fade.in {
        z-index: 9999;
    }

    .modal-dialog.sizeLg .modal-content {
        border: none;
        box-shadow: none;
        padding-bottom: 10px;
    }

    .subscribeBox {
        background-color: #ecf0f1;
        max-width: 600px;
        margin: 0 auto 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        padding: 15px;
    }

        .subscribeBox input[type="text"] {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px 15px;
            max-width: 455px;
        }

    .beetaImage {
        position: absolute;
        top: 20px;
        max-width: 200px;
        right: -140px;
    }

    .subscribeBox button {
        max-width: 150px;
        width: 100%;
        background-color: #cf2d1f;
        color: #fff;
        border: none;
        font-size: 16px;
        letter-spacing: 0.5px;
        margin-left: 10px;
        min-height: 38px;
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }

    .popupLogo {
        margin: 0 auto;
        max-width: 380px;
        margin-bottom: 30px;
        display: inline-block;
        position: relative;
    }

    @@media(max-width:991px) {
        .modal-dialog.sizeLg {
            margin: 10% auto 0;
        }

       
    }

    @@media(max-width:767px) {
        .subscribeBox {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .subscribeBox input[type="text"] {
                max-width: 100%;
            }

        .popupLogo {
            max-width: 250px;
        }

        .beetaImage {
            top: 10px;
            max-width: 120px;
            right: -81px;
        }

        .subscribeBox button {
            max-width: 100%;
            margin: 12px 0 0;
            padding: 8px 10px;
        }

        .modal-dialog.sizeLg {
            margin: 25% auto 0;
        }

        .waterMark .featureImage:before {
          
            width: 100%;
        }
    }

    @@media(max-width:480px) {

        .popupLogo {
            max-width: 210px;
        }

        .beetaImage {
            position: absolute;
            top: 10px;
            max-width: 74px;
            right: -30px;
        }
    }


    /* chatbot */
    .chatBooat {
        position: fixed;
        bottom: 100px;
        right: 10px;
        z-index: 9;
    }

    .chatBooatSection {
        position: absolute;
        right: 10px;
        bottom: 60px;
        background-color: #fff;
        width: 430px;
        overflow: hidden;
        box-shadow: 0 0 15px rgba(0,0,0,0.5);
        max-height: 500px;
        min-height: 450px;
        overflow: auto;
    }

    button.chatbox-maximize.chat-reset {
        width: inherit;
        float: right;
        height: auto;
        padding: 0;
        margin-top: 0;
        font-size: 22px;
    }

    .cbContent {
        padding: 20px 15px;
    }

        .cbContent p {
            padding: 20px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            display: inline-block;
            margin-bottom: 20px;
            width: 100%;
            border-radius: 50px;
        }

    .cbHeader {
        background-color: #cf2d1e;
        color: #fff;
        padding: 15px 20px;
    }

        .cbHeader h2 {
            margin: 0px;
            font-size: 25px;
        }

    .cbContent input {
        border-radius: 50px;
        border: 1px solid #ccc;
        padding: 6px 15px;
        width: 100%;
    }

    .cbContent .col-sm-6:nth-child(odd) {
        padding-right: 5px;
    }

    .cbContent .col-sm-6:nth-child(even) {
        padding-left: 5px;
    }

    #cbtopicId {
        display: inline;
        text-align: left;
    }

        #cbtopicId button {
            width: auto;
            margin: 0 4px 10px;
            min-width: 90px;
            background-color: #d2d4d2;
            color: #000;
        }

            #cbtopicId button:hover {
                background-color: #cf2d1e;
                color: #fff;
            }


    #cbQuestionId {
        display: inline;
        text-align: left;
    }

        #cbQuestionId button {
            width: auto;
            margin: 0 4px 10px;
            min-width: 90px;
            background-color: #d2d4d2;
            color: #000;
        }

            #cbQuestionId button:hover {
                background-color: #cf2d1e;
                color: #fff;
            }


    .chatBooatSection button {
        width: 100%;
        border: none;
        padding: 8px 15px;
        background-color: #cf2d1e;
        color: #fff;
        border-radius: 50px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    button.chatbox-open, button.chatbox-close {
        background-color: #cf2d1e;
        border: none;
        color: #fff;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
        width: 50px;
        height: 50px;
    }


    .cbContent #loading {
        width: 100%;
        z-index: 1;
        margin-top: 0px;
        top: auto;
        text-align: center;
        bottom:0;
    }

    .cbContent #loading-center-absolute {
        display: inline-block;
        vertical-align: middle;
        margin: 0px auto;
        border-radius: 50px;
        -webkit-animation: loader 0.9s infinite alternate;
        -moz-animation: loader 0.9s infinite alternate;
    }

    .cbContent .object {
        width: 20px;
        height: 20px;
        background-color: #cf2d1e;
        display: inline-block;
        margin-right: 20px;
        -moz-border-radius: 50% 50% 50% 50%;
        -webkit-border-radius: 50% 50% 50% 50%;
        border-radius: 50% 50% 50% 50%;
    }

    .cbContent #object_one {
        -webkit-animation: object_one 1.5s infinite;
        animation: object_one 1.5s infinite;
    }

    .cbContent #object_two {
        -webkit-animation: object_two 1.5s infinite;
        animation: object_two 1.5s infinite;
        -webkit-animation-delay: 0.25s;
        animation-delay: 0.25s;
    }

    .cbContent #object_three {
        -webkit-animation: object_three 1.5s infinite;
        animation: object_three 1.5s infinite;
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
    }

    @@-webkit-keyframes object_one {
        75% {
            -webkit-transform: scale(0);
        }
    }

    @@keyframes object_one {
        75% {
            transform: scale(0);
            -webkit-transform: scale(0);
        }
    }

    @@-webkit-keyframes object_two {
        75% {
            -webkit-transform: scale(0);
        }
    }

    @@keyframes object_two {
        75% {
            transform: scale(0);
            -webkit-transform: scale(0);
        }
    }

    @@-webkit-keyframes object_three {
        75% {
            -webkit-transform: scale(0);
        }
    }

    @@keyframes object_three {
        75% {
            transform: scale(0);
            -webkit-transform: scale(0);
        }
    }
    .rsSpaceMob {
        margin-bottom: 15px;
    }
    .yesNoBtn {
        text-align:right;
    }
    .yesNoBtn button {
        width: auto;
        min-width: 80px;
    }

    .tryAgainVerification button {
        margin-top: 0;
    }

    @@media(max-width:767px){
        input:focus{
            outline:none;
            box-shadow:none;
        }
        .cbHeader h2 {
            font-size: 20px;
        }
        .cbContent p {
            padding: 10px 15px;
        }
        .cbContent .col-sm-6:nth-child(odd) {
            padding-right: 15px;
        }
        .cbContent .col-sm-6:nth-child(even) {
            padding-left: 15px;
        }
        .chatBooatSection button {
            width: auto;
        }
        .verificationBtn, .tryAgainVerification {
            text-align: right;
        }
        .chatBooat {
            display: none;
        }

    }

    @@media(max-width:480px) {
        .chatBooatSection {
            width: 280px;
            max-height: 340px;
            min-height: 340px;
        }
        .chatBooat {
            display: block;
        }
    }


</style>
