﻿<!DOCTYPE html>
<html lang="en-us">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155387094-1"></script>
    @*<script async defer src="//assets.pinterest.com/js/pinit.js"></script>*@
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-155387094-1');
    </script>
    <script type="application/ld+json">
        {
        "context": "https://schema.org",
        "type": "Corporation",
        "name": "momentarily",
        "alternateName": "momentarily",
        "url": "https://www.momentarily.com/",
        "logo": "https://www.momentarily.com/Content/TemplateImg/OtherImages/logo.png",
        "sameAs": [
        "https://twitter.com/momentarilycom",
        "https://www.momentarily.com/",
        "https://www.instagram.com/momentarily/",
        "https://www.pinterest.ca/momentarilycom/"
        ]
        }
    </script>
    <title>momentarily</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    @RenderSection("meta", required: false)
    <link rel="icon" type="image/ico" href="~/Content/Img/favicon.ico">

    @Styles.Render("~/Content/css/UI-select")
    @Styles.Render("~/bundles/carousel")
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/register")
    @Styles.Render("~/bundles/welcomeuser")


    <link href="~/Content/TemplateImg/css/header.css" rel="stylesheet" />
    <link href="~/Content/css/Footerlayout.css" rel="stylesheet" />


</head>

<body ng-app="MomentarilyApp" ng-cloak ng-controller="LayoutController as shared">

    @if (Convert.ToBoolean(Session["IsAdmin"]) == false)
    {
        if (User.Identity.IsAuthenticated && !(User.IsAdmin))
        {
            <header class="topHeader navbar-fixed-top mainheader" style="display:block;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" id="offcanvas-toggler">
                                        <img src="~/Content/TemplateImg/OtherImages/menu-bar.png" alt="image" />
                                    </button>
                                    <a class="navbar-brand" href="@QuickUrl.HomeUrl()"><img src="~/Content/TemplateImg/OtherImages/logo.png" alt="image" width="180" /></a>
                                </div>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a id="search_button" href="#"><img src="~/Content/TemplateImg/OtherImages/searchicon.png" alt="image" /> </a></li>
                                        <li class="active"><a href="@Url.Action("HowItWorks", "Home")">How it Works</a></li>
                                        <li><a href="@Url.Action("FAQ", "Home")">Faq</a></li>
                                        <li><a href="@Url.Action("ContactUs", "Home")">Help</a></li>
                                        <li class="dropdown dropNav covidMenu afterLoginCovidMenu">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                <span> COVID-19</span> <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="@((IsActiveLink("Index", "covid")||IsActiveLink("PlaceOrder", "covid")) ? "active" : "")"><a href="@Url.Action("Index", "covid")">COVID-19 Products</a></li>
                                                <li class="@((IsActiveLink("Covid19FaceShield", "Home")) ? "active" : "")"><a href="@Url.Action("Covid19FaceShield", "Home")">Face Shield</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown dropNav">
                                            @if (!string.IsNullOrWhiteSpace(User.UserIconUrl))
                                            {
                                                <img src="@User.UserIconUrl" alt="" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/Img/profile-thumb.svg" alt="" />
                                            }
                                             
                                           
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                <span> @User.FirstName @User.LastName</span> <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="@((IsActiveLink(QuickUrl.RouteUserProfile()) || IsActiveLink("UserEmail", "User") || IsActiveLink("UserPwd", "User") || IsActiveLink("BankInfo", "User")) ? "active" : "")"><a href="@QuickUrl.UserProfileUrl()">My Profile</a></li>
                                                <li class="@((IsActiveLink("Index", "UserDashboard")) ? "active" : "")"><a href="@Url.Action("Index", "UserDashboard")">My Dashboard</a></li>
                                                <li class="@((IsActiveLink("Index", "Listing") || IsActiveLink("Edit", "Listing") || IsActiveLink("Create", "Listing") || IsActiveLink("BookingList", "Listing")) ? "active" : "")"><a href="@Url.Action("Index", "Listing")">Manage Listings</a></li>
                                                <li class="@((IsActiveLink("Index", "Message") || IsActiveLink("Conversation", "Message") || IsActiveLink("Pay", "Payment")) ? "active" : "")"><a href="@Url.Action("Index", "Message")">My Messages {{shared.hasUnreadMessages()?'('+shared.UserData.UnreadMessagesCount+')':''}}</a></li>
                                                <li class="@((IsActiveLink("Index", "Booking") || IsActiveLink("Request", "Booking")) ? "active" : "")"><a href="@Url.Action("Index", "Booking")">Borrowing</a></li>
                                                <li class="@((IsActiveLink("RentedItems", "Listing")|| IsActiveLink("Booking", "Listing")) ? "active" : "")"><a href="@Url.Action("RentedItems", "Listing")">Sharing</a></li>
                                                <li><a href="@QuickUrl.LogOffUrl()">Log Out </a></li>
                                            </ul>
                                        </li>
                                        <li class="becomeNav"><a href="@Url.Action("Create", "Listing")" class="btn btn-primary btn-md"> Share </a></li>
                                        <li class="becomeNav becomeBorrowerCls" id="becomeBorrower"><a class="btn btn-primary btn-sm"> Borrow </a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }
        else
        {
            <header class="topHeader navbar-fixed-top mainheader" style="display:block;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="navbar">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" id="offcanvas-toggler">
                                        <img src="~/Content/TemplateImg/OtherImages/menu-bar.png" alt="image" />
                                    </button>
                                    <a class="navbar-brand" href="@QuickUrl.HomeUrl()"><img src="~/Content/TemplateImg/OtherImages/logo.png" alt="image" width="180" /></a>
                                </div>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="@Url.Action("HowItWorks", "Home")">How it Works</a></li>
                                        <li><a href="@Url.Action("FAQ", "Home")">Faq</a></li>
                                        <li><a href="@Url.Action("ContactUs", "Home")">Help</a></li>
                                        <li class="dropdown dropNav covidMenu">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                                <span> COVID-19</span> <span class="fa fa-angle-down"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="@((IsActiveLink("Index", "covid")||IsActiveLink("PlaceOrder", "covid")) ? "active" : "")"><a href="@Url.Action("Index", "covid")">COVID-19 Products</a></li>
                                                <li class="@((IsActiveLink("Covid19FaceShield", "Home")) ? "active" : "")"><a href="@Url.Action("Covid19FaceShield", "Home")">Face Shield</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="@QuickUrl.RegisterUrl()"><span class="fa fa-user"></span> Sign up</a></li>
                                        <li><a href="@QuickUrl.LoginUrl(null)"><span class="fa fa-sign-in"></span> Log in</a></li>
                                        <li class="becomeNav"><a href="@Url.Action("Create", "Listing")" class="btn btn-primary btn-sm"> Share </a></li>
                                        <li class="becomeNav becomeBorrowerCls" id="becomeBorrower"><a class="btn btn-primary btn-sm"> Borrow </a></li>
                                    </ul>
                                  
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }
    }
    else
    {
        <!--header-->
        <header class="topHeader navbar-fixed-top" style="display:block;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <nav class="navbar">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" id="offcanvas-toggler">
                                    <img src="~/Content/TemplateImg/OtherImages/menu-bar.png" alt="image" />
                                </button>
                                <a class="navbar-brand" href="@QuickUrl.HomeUrl()"><img src="~/Content/TemplateImg/OtherImages/logo.png" alt="image" width="180" /></a>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!---->
    }
    <!--mobile header-->
    <div class="offcanvas-overlay"></div>
    <div class="offcanvas-menu visible-sm visible-xs">
        <a href="#" class="close-offcanvas"><i class="fa fa-remove"></i></a>
        <div class="offcanvas-inner">
            <a href="@QuickUrl.HomeUrl()"><h3 class="title">momentarily </h3></a>
            <ul>
                <li class="active"><a href="@Url.Action("HowItWorks", "Home")">How it Works</a></li>
                <li><a href="@Url.Action("FAQ", "Home")">Faq</a></li>
                <li><a href="@Url.Action("ContactUs", "Home")">Help</a></li>
                <li class="dropdown dropNav covidMenu">
                    <a href="#">
                        <span> COVID-19</span> <span role="button" class="offcanvas-menu-toggler collapsed covidDDMenu" data-toggle="collapse" data-target="#covid-menu-02265" aria-expanded="false" aria-controls="collapse-menu-02">
                            <i class="fa fa-plus"></i><i class="fa fa-minus"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu" id="covid-menu-02265" aria-expanded="false">
                        <li class="@((IsActiveLink("Index", "covid")||IsActiveLink("PlaceOrder", "covid")) ? "active" : "")"><a href="@Url.Action("Index", "covid")">COVID-19 Products</a></li>
                        <li class="@((IsActiveLink("Covid19FaceShield", "Home")) ? "active" : "")"><a href="@Url.Action("Covid19FaceShield", "Home")">Face Shield</a></li>
                    </ul>
                </li>
                @if (!User.Identity.IsAuthenticated && !(User.IsAdmin))
                {
                    <li><a href="@QuickUrl.RegisterUrl()"><span class="fa fa-user"></span> Sign up</a></li>
                    <li><a href="@QuickUrl.LoginUrl(null)"><span class="fa fa-sign-in"></span> Log in</a></li>
                }
                @if (User.Identity.IsAuthenticated && !(User.IsAdmin))
                {
                    <li>
                        <a href="#">@User.FirstName @User.LastName <span role="button" class="offcanvas-menu-toggler collapsed userProDDMenu" data-toggle="collapse" data-target="#collapse-menu-02265" aria-expanded="false" aria-controls="collapse-menu-02">
    <i class="fa fa-plus"></i><i class="fa fa-minus"></i>
</span> </a>
                      
                        <ul class="collapse" id="collapse-menu-02265" aria-expanded="false">
                            <li><a href="@Url.Action("UserProfile", "User")">My Profile</a></li>
                            <li><a href="@Url.Action("Index", "UserDashboard")">My Dashboard</a></li>
                            <li class="@((IsActiveLink("Index", "Listing") || IsActiveLink("Edit", "Listing") || IsActiveLink("Create", "Listing") || IsActiveLink("BookingList", "Listing")) ? "active" : "")"><a href="@Url.Action("Index", "Listing")">Manage Listings</a></li>
                            <li class="@((IsActiveLink("Index", "Message") || IsActiveLink("Conversation", "Message") || IsActiveLink("Pay", "Payment")) ? "active" : "")"><a href="@Url.Action("Index", "Message")">My Messages {{shared.hasUnreadMessages()?'('+shared.UserData.UnreadMessagesCount+')':''}}</a></li>
                            <li class="@((IsActiveLink("Index", "Booking") || IsActiveLink("Request", "Booking")) ? "active" : "")"><a href="@Url.Action("Index", "Booking")">My Bookings</a></li>
                            <li class="@((IsActiveLink(QuickUrl.RouteUserProfile()) || IsActiveLink("UserEmail", "User") || IsActiveLink("UserPwd", "User") || IsActiveLink("BankInfo", "User")) ? "active" : "")"><a href="@QuickUrl.UserProfileUrl()">Account Settings</a></li>
                            <li><a href="@QuickUrl.LogOffUrl()">Log Out </a></li>
                        </ul>
                    </li>
                }
                <li class="becomeNav"><a href="@Url.Action("Create", "Listing")" class="btn btn-primary btn-md"> Share </a></li>
                <li class="becomeNav" id="becomeBorrower"><a  class="btn btn-primary btn-md"> Borrow </a></li>
            </ul>
        </div>

    </div>
    <div class="modal fade" id="exampleModalBeta" role="dialog">
        <div class="modal-dialog sizeLg">

            <!-- Modal content-->
            <div class="modal-content">
                <button type="button" class="btn btn-default popupCloseBtn">X</button>
                <div class="modal-body text-center">
                    <span class="popupLogo">
                        <img src="~/Content/TemplateImg/images/mometarily-logo.png" alt="image" class="img-responsive">
                        <img src="~/Content/TemplateImg/images/beta.png" alt="image" class="img-responsive beetaImage">
                    </span>
                    @*<p><strong>momentarily.com</strong> is launching soon!  Leave us your email below and we'll notify you the minute we officially start. In the meantime, feel free to check out our BETA site, and even upload items that you are thinking about loaning out.  We are currently limiting the ability to view rentals, however anything uploaded now will be visible on our official launch day.  If you have any feedback or suggestions, drop us a message at <a href="mailto:hello@momentarily.com">hello@momentarily.com</a>  We hope you enjoy your experience!</p>*@
                    <p>We have launched our BETA site, which means you can now upload items that you are thinking about loaning out. We are currently limiting the ability to view other rentals, however anything uploaded now will be visible on our official launch day. If you have any feedback or suggestions, drop us a message at <a href="mailto:hello@momentarily.com">hello@momentarily.com</a> We hope you enjoy your experience!</p>
                </div>
                <div class=" betaSignUpBtn text-center">
                    <a href="/account/Register" class="btn btn-green">Sign up and add your items now</a>
                </div>
                @*<div class="subscribeBox">
                    <input type="text" id="subscribeEmailpopup" class="form-control" placeholder="Enter your email" />
                    <button type="button" id="subscribepopupbtn" class="btn btn-green">Subscribe</button>
                </div>*@
            </div>

        </div>
    </div>
    <div id="divLoading">
        <p>
            Loading. Please wait...<br />
            <span>
                <img src="~/Content/Images/circleloadinganimationOrignal.gif" alt="image" />
            </span>
        </p>

    </div>
    @*<div class="modal fade socialPopupModal" id="exampleModalBeta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content col-12">
                <div class="modal-header">
                    <h5 class="modal-title">Alert!</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <div class="icon-container1 d-flex row">
                        <div class="col-sm-12">
                            <p>Welcome to the beta site for <b>momentarily</b>.  Currently we are not allowing rentals, however you can begin to upload items in our system so that when we go live, you will be all set to go!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <script src="~/Content/TemplateImg/js/jquery.min.js"></script>
    <script src="~/Content/TemplateImg/js/bootstrap.min.js"></script>
    
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/UI-select")
    @Scripts.Render("~/bundles/Shared")
    @Scripts.Render("~/bundles/vimeoPlayer")
    @Scripts.Render("~/bundles/datepickerMultiSelect")
    @RenderBody()
    @Scripts.Render("~/bundles/scripts/angular-constants")
    <link href="~/Content/ToastMessage/toastr.css" rel="stylesheet" />
    <script src="~/Content/ToastMessage/toastr.min.js"></script>
    @if (Convert.ToString(TempData["NoAccessFooter"]) != "NoAccess")
    {
        <footer>
            <div>
                <div>
                    @Html.Partial("_Footer")
                </div>
            </div>
        </footer>
    }


</body>

</html>
<style>
    .betaSignUpBtn {
        max-width: 600px;
        margin: 20px auto;
    }
        .betaSignUpBtn a {
            padding: 8px 15px;
            max-width: 350px;
            width: 100%;
            font-size: 18px;
        }

    .covidMenu {
        width: auto !important;
    }

    li.dropdown.dropNav.covidMenu a {
        padding: 3px 0 !important;
    }

    li.dropdown.dropNav.covidMenu li a, li.dropdown.dropNav.covidMenu.afterLoginCovidMenu li a {
        padding: 15px 20px !important;
    }

    .topHeader .navbar-right .covidMenu .dropdown-menu, .topHeader .navbar-right li.dropdown.dropNav.covidMenu.afterLoginCovidMenu .dropdown-menu {
        margin: 22px 0 0;
    }

        .topHeader .navbar-right .covidMenu .dropdown-menu::before {
            left: auto;
            right: 22px;
        }

    li.dropdown.dropNav.covidMenu.afterLoginCovidMenu a {
        padding: 4px 0 !important;
    }

    #divLoading {
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #666666;
        z-index: 999999;
        opacity: .8;
        filter: alpha(opacity=70);
        display: none
    }

        #divLoading p {
            position: fixed;
            top: 30%;
            left: 45%;
            color: White;
        }

        #divLoading span > img {
            padding-left: 44px;
        }
    .popupCloseBtn {
        position: absolute;
        right: 10px;
        top: 10px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 99999;
        width: 30px;
        height: 30px;
        padding: 5px 0;
        text-align: center;
    }

        .popupCloseBtn:focus, .popupCloseBtn:active:focus {
            box-shadow: none;
            outline: none;
        }


    .modal-dialog.sizeLg {
        max-width: 960px;
        width: 100%;
        margin: 3% auto 0;
        padding: 15px;
        font-size: 16px;
    }

        .modal-dialog.sizeLg .modal-content {
            border: none;
            box-shadow: none;
            padding-bottom: 10px;
        }

    .subscribeBox {
        background-color: #ecf0f1;
        max-width: 490px;
        margin: 0 auto 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: center;
        padding: 10px;
    }

        .subscribeBox input[type="text"] {
            width: 100%;
            border: 1px solid #ccc;
            padding: 10px 15px;
            max-width: 455px;
        }

    .beetaImage {
        position: absolute;
        top: 20px;
        max-width: 180px;
        right: -140px;
    }

    .subscribeBox button {
        max-width: 130px;
        width: 100%;
        background-color: #cf2d1f;
        color: #fff;
        border: none;
        font-size: 16px;
        letter-spacing: 0.5px;
        margin-left: 10px;
        min-height: 38px;
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }

    .popupLogo {
        margin: 0 auto;
        max-width: 320px;
        margin-bottom: 30px;
        display: inline-block;
        position: relative;
    }

    @@media(max-width:991px) {
        .modal-dialog.sizeLg {
            margin: 10% auto 0;
        }
    }

    @@media(max-width:767px) {
        .subscribeBox {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .subscribeBox input[type="text"] {
                max-width: 100%;
            }

        .popupLogo {
            max-width: 250px;
        }

        .beetaImage {
            top: 10px;
            max-width: 120px;
            right: -81px;
        }

        .subscribeBox button {
            max-width: 100%;
            margin: 12px 0 0;
            padding: 8px 10px;
        }

        .modal-dialog.sizeLg {
            margin: 25% auto 0;
        }
    }

    @@media(max-width:480px) {

        .popupLogo {
            max-width: 210px;
        }

        .beetaImage {
            position: absolute;
            top: 10px;
            max-width: 74px;
            right: -30px;
        }
    }
    #cookie-prompt {
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 99999;
        bottom: 0;
        padding: 12px 0;
    }

    .cookiealert {
        background: rgba(0,0,0,0.9);
        color: #fff;
        padding: 5px 0;
        font: 12px/18px Arial, Helvetica, sans-serif;
    }

        .cookiealert span.cookie-title {
            display: block;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            margin: 0.4em 0 0;
        }

        .cookiealert a {
            color: #f90;
            text-decoration: underline;
        }

            .cookiealert a.cookieBtn {
                background-color: #fff;
                padding: 10px 15px;
                border-radius: 50px;
                text-decoration: none;
                color: #000;
                display: table;
                font-weight: 600;
            }

                .cookiealert a.cookieBtn:hover {
                    background-color: #cf2d1e;
                    padding: 10px 15px;
                    border-radius: 50px;
                    text-decoration: none;
                    color: #fff;
                    display: table;
                }

        .cookiealert .container {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            position: relative;
        }

            .cookiealert .container p {
                line-height: 15px;
                margin: 0;
            }

    span.cookieCloseBtn {
        position: absolute;
        right: 0;
        width: 25px;
        height: 25px;
        background-color: rgba(255,255,255,0.2);
        align-items: center;
        justify-content: center;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        font-size: 14px;
        border-radius: 50%;
    }

    @@media(max-width:991px) {
        span.cookieCloseBtn {
            right: 30px;
        }
    }

    @@media(max-width:767px) {
        .cookiealert .container {
            flex-direction: column;
        }

        .cookiealert a.cookieBtn {
            margin-top: 15px;
        }

        .cookiealert .container p {
            padding-right: 30px;
            text-align: justify;
        }

            .cookiealert .container p.accept {
                padding-right: 0px;
            }
    }
</style>

<script type="text/javascript">
        var cookiePromptTest = false;

        $(document).ready(function () {
            if (cookiePromptTest || checkCookie("cookiePrompt") != "on") {
                $(".mainheader").before('<div id="cookie-prompt" class="cookiealert" style="">' +
                    '<div class="row">' +
                    '<div class="container">' +
                    '<span class="cookieCloseBtn"><i class="fa fa-times" aria-hidden="true"></i></span>' +
                    '<div class="col-md-10 col-sm-9"><p class="text-left">We use cookies and other tracking technologies to improve your browsing experience on our website, to analyze our website traffic, and to understand where our visitors are coming from.Please read our cookie policy for more information. By browsing our website,you consent to our use of cookies and other tracking technologies. <a href="/privacypolicy" target="_blank">Click here</a> for more information. </p></div>' +
                    '<div class="col-md-2 col-sm-3"><p class="accept"><a href="javascript:void(0);"  onclick="closeCookiePrompt()" class="cookieBtn">Accept Cookies</a></p></div>' +
                    '</div></div></div>');
            }
            else {

            }
        });

        function closeCookiePrompt() {
            if (!cookiePromptTest) {
                createCookie("cookiePrompt", "on", 300);
            }
            $("#cookie-prompt").remove();
        }

        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                //date.setTime(date.getTime() + (days * 2000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";
            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function checkCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }
        $(document).on('click', '.cookieCloseBtn', function () {
            
            $("#cookie-prompt").css("display", "none");
        })
</script>
<script>


    $(document).on('click', '.covidDDMenu', function () {
        $('#collapse-menu-02265').removeClass('in');
        if ($('#covid-menu-02265').hasClass('collapse')) {
            $('#covid-menu-02265').removeClass('collapse');
        } else {
            $('#covid-menu-02265').addClass('collapse');
        }
        $('.userProDDMenu').addClass('collapsed');
        // $('.covidDDMenu').removeClass('collapsed');
    });


    $(document).on('click', '.userProDDMenu', function () {
        $('#covid-menu-02265').removeClass('in');
        if ($('#collapse-menu-02265').hasClass('collapse')) {
            $('#collapse-menu-02265').removeClass('collapse');
        } else {
            $('#collapse-menu-02265').addClass('collapse');
        }
        $('.covidDDMenu').addClass('collapsed');
        //$('.userProDDMenu').removeClass('collapse');

    });



    $(document).on('click', '.popupCloseBtn', function () {

        $('#exampleModalBeta').modal('hide');
    });

    jQuery(function ($) {
        //offcanvas
        $('#offcanvas-toggler').on('click', function (event) {
            event.preventDefault();
            $('body').addClass('offcanvas');
        });
        $('<div class="offcanvas-overlay"></div>').insertBefore('.body-innerwrapper > .offcanvas-menu');
        $('.close-offcanvas, .offcanvas-overlay').on('click', function (event) {
            event.preventDefault();
            $('body').removeClass('offcanvas');
        });

    });
    $(document).on('click', '#becomeBorrower', function () {
   
        $.ajax({
            url: "/Search/CheckVersion",
            type: "Get",
            success: function (data) {
                if (data == "True" || data == "true") {
                    
                    $('#exampleModalBeta').modal('show');
                }
                else {
                    window.location.href = '/Search/Map';
                }
            },
            error: function () {
                toastr.info("Error Occurred");
            }
        })

    });

    $("#search_button").click(function () {

        $.ajax({
            url: "/Search/CheckVersion",
            type: "Get",
            success: function (data) {
                if (data == "True" || data == "true") {
                   
                    $('#exampleModalBeta').modal('show');
                }
                else {
                    window.location.href = '/Search/Index';
                }
            },
            error: function () {
                toastr.info("Error Occurred");
            }
        })

    });

    $("#subscribepopupbtn").click(function () {

        var email = $("#subscribeEmailpopup").val();
        if (email == undefined || email == '') {
            $("#subscribeEmailpopup").focus();
            toastr.warning("Please Enter Your E-mail Id");
            return;
        }
        else if (!ValidateEmail(email)) {
            $("#subscribeEmailpopup").focus();
            toastr.warning("Invalid email address.");
            return;
        }
        else {
            $('#divLoading').show();
            $.ajax({
                url: "/Account/Subscribe",
                type: "Post",
                dataType: "json",
                data: { Email: email },
                success: function (data) {
                    if (data == "Subscribed") {
                        toastr.success("Successfully Subscribed ");
                        $('#exampleModalBeta').modal('hide');
                        $('#divLoading').hide();
                        $('#subscribeEmailpopup').val('');
                        
                    }
                    else if (data == "Already subscribed.") {
                        toastr.info("Already Subscribed");
                        $('#exampleModalBeta').modal('hide');
                        $('#subscribeEmailpopup').val('');
                        $('#divLoading').hide();
                    }
                    else {
                        toastr.error(data);
                        $('#divLoading').hide();
                    }
                },
                error: function (data) {
                    toastr.error("Error Occurred");
                    $('#divLoading').hide();
                }

            });
        }

    });

    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };
</script>