﻿@model IEnumerable<Momentarily.Entities.Entities.MomentarilyItem>
@{
    /**/

    Layout = "~/Areas/Frontend/Views/Shared/_AdminDashboardLayoutNew.cshtml";
    var dt = Model;
}
@using (Html.BeginForm("TotalListedItem", "AdminDashboard", FormMethod.Post, new { @class = "totallistedItems_Id" }))
{
    <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <div class="d-inline">
                        <h4>Total Listed Items</h4>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb-title parentModulesInner">
                        <li class="breadcrumb-item">
                            <a href="/AdminDashboard/"> <i class="feather icon-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Total Listed Items</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="page-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Listed Items</h5>

                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                @*<li><i class="feather icon-maximize full-card"></i></li>*@
                                <li><i class="feather icon-minus minimize-card"></i></li>
                                @*<li><i class="feather icon-trash-2 close-card"></i></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="dashBoardTable">
                            <div class="table-responsive">
                                <table id="totallistedItems" class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            @*<th>Sr.No</th>*@
                                            <th>Product Id</th>
                                            <th>Name</th>
                                            <th>Price Per Day</th>
                                            <th>Price Per Week</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int count1 = 1; }
                                        @foreach (var item in Model)
                                        {

                                        <tr id="@("row"+item.Id)">

                                            <td>
                                                <a href="/Search/Item/@item.Id" target="_blank" title="@item.Name">@item.Id</a>
                                            </td>
                                            <td>
                                                <a href="/Search/Item/@item.Id" target="_blank" title="@item.Name">@item.Name</a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => item.Price)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(x => item.PricePerWeek)
                                            </td>
                                        </tr>
                                            count1++;
                                        }

                                    </tbody>

                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/plugins/jquery/jquery.js"></script>
<script src="~/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
<script>
    $(document).ready(function () {
        $('#totallistedItems').DataTable({
            //"paging": true,
            //"lengthChange": false,
            //"searching": false,
            //"ordering": true,
            //"info": true,
            //"autoWidth": false,
        });
    });



</script>
