﻿@model Momentarily.ViewModels.Models.CovidGoodViewModel
@{
    Layout = "~/Areas/Frontend/Views/Shared/_LayoutNew.cshtml";
}



<style>
    .disclaimerSection {
        max-width: 630px;
        margin: 0 auto 30px;
        border: 1px solid #ccc;
        padding: 10px 30px 20px;
    }

        .disclaimerSection h3 {
            border-bottom: 1px solid #ccc;
            padding: 0px 0 20px;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .disclaimerSection ul {
            list-style: none;
            padding: 0;
        }

            .disclaimerSection ul li {
                position: relative;
                padding: 6px 0 6px 20px;
            }

                .disclaimerSection ul li i {
                    color: #cf2d1e;
                    margin-right: 3px;
                    margin-left: -15px;
                }

                .disclaimerSection ul li span {
                    color: #cf2d1e;
                }

    .checkmarketingmailuser {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #9b9b9b;
        width: calc(100% - 30px);
        padding: 0 10px;
        display: inline-block;
        text-align: left;
        vertical-align: top;
    }

    .gooddsc {
        margin-top: 20px;
    }

    .readonlytxt {
        background-color: #f1ecec;
        pointer-events: none;
    }

    #GoodDescription {
        background-color: #f1ecec;
    }

    .placeOrderSection {
        padding: 0;
        border-radius: 3px;
        overflow: hidden;
        margin-bottom: 40px;
    }

        .placeOrderSection h1 {
            background-color: #cf2d1e;
            color: #fff;
            padding: 10px 14px;
            margin-top: 0;
        }

        .placeOrderSection input[type="text"], .placeOrderSection input[type="email"], .placeOrderSection textarea {
            width: 100%;
            border: 1px solid #ccc;
            padding: 8px 15px;
            border-radius: 3px;
            resize: none;
        }

    .placeOrderForm {
        padding: 0 20px;
    }

    .placeOrderSection .proImage {
        padding: 12px 12px 12px 0;
        margin-bottom: 10px;
    }

        .placeOrderSection .proImage img {
            border-radius: 6px;
            box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
            max-height: 220px;
            overflow: hidden;
        }

    .placeOrderSection textarea {
        min-height: 100px;
    }
    .placeOrderSection .orderDescription textarea {
        min-height: 40px;
        padding: 4px 15px;
    }

    .placeOrderSection button.btn.btn-green.helpBtn {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    input:focus, textarea:focus {
        outline: none;
        box-shadow: none;
    }
    span.shippingUS {
        color: #cf2d1e;
        font-size: 20px;
        margin: 20px 0 10px;
        display: inline-block;
        width: 100%;
    }
    .noCancellations {
        margin-bottom: 0;
        margin-top: 0;
        color: #cf2d1e;
    }
</style>

@using (Html.BeginForm("PlaceOrder", "covid", FormMethod.Post, new { @id = "frmplaceorder", enctype = "multipart/form-data" }))
{

    <div class="content helpForm mainClass">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="contact-us-page placeOrderSection">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h1>Place Order</h1>
                                </div>

                            </div>
                        </div>
                        <div class="placeOrderForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group text-center">
                                        <span class="shippingUS">
                                            Only shipping to U.S
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="proImage">
                                        <div class="">

                                            @Html.HiddenFor(x=>x.GoodImage)
                                            <img src="~/Content/covid-image/@Model.GoodImage" alt="images" class="img-responsive">
                                        </div>

                                        <div class="form-group gooddsc">
                                            <label>Description</label>
                                            @Html.TextAreaFor(x => x.GoodDescription, new { @readonly = "readonly" })

                                        </div>
                                      
                                            <div class="form-group orderDescription">
                                                <label>Order Description(Optional)</label>
                                                @Html.TextAreaFor(x => x.OrderDescription, new { autocomplete = "off" })

                                            </div>
                                       

                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-8 col-md-8">
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <div class="form-group">
                                                <label>Name</label>
                                                @Html.TextBoxFor(x => x.GoodName, new { @class = "readonlytxt" })
                                                @Html.HiddenFor(x => x.CovidGoodId)
                                                @Html.HiddenFor(x => x.DeliveryCharge)
                                                @Html.HiddenFor(x => x.Country)
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Price Per Pack</label>
                                                @Html.TextBoxFor(x => x.GoodPrice, new { @class = "readonlytxt" })


                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Tax Percentage</label>
                                                @Html.TextBoxFor(x => x.Tax, new { @class = "readonlytxt" })

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Quantity</label>
                                                @Html.TextBoxFor(x => x.Quantity, new { autocomplete = "off", @onchange = "calculate()" })

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Total Price(Including Shipping)</label>
                                                @Html.TextBoxFor(x => x.TotalPrice, new { @class = "readonlytxt" })

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Buyer Name</label>
                                                @Html.TextBoxFor(x => x.FullName, new { @autocomplete = "off" })

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Email Address</label>
                                                @Html.TextBoxFor(x => x.BuyerEmailId, new { @autocomplete = "off" })

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Address Line 1</label>
                                                @Html.TextBoxFor(x => x.DeliveryAddress1, new { autocomplete = "off" })

                                            </div>
                                        </div>


                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Address Line 2</label>
                                                @Html.TextBoxFor(x => x.DeliveryAddress2, new { autocomplete = "off" })

                                            </div>
                                        </div>



                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                @Html.TextBoxFor(x => x.City, new { autocomplete = "off" })

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                @Html.TextBoxFor(x => x.State, new { autocomplete = "off" })

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Zip Code</label>
                                                @Html.TextBoxFor(x => x.ZipCode, new { autocomplete = "off" })

                                            </div>
                                        </div>
                                  

                                    


                                    </div>

                                </div>

                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-4">

                                        </div>


                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                @Html.CheckBoxFor(m => m.IgnoreMarketingMails, Model.IgnoreMarketingMails)
                                                <span class="checkmarketingmailuser">
                                                    Do not include me in future marketing emails from momentarily.
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">                                            
                                            <p class="noCancellations">There are no cancellations or refunds.</p>
                                        </div>
                                            <div class="col-md-12 btnAlingnment text-center">
                                                <button class="btn btn-green helpBtn" type="button" id="btnsubmit">Submit and Pay</button>
                                                <div class="form-group">
                                                </div>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="disclaimerSection text-center">
                                                    <h3>Disclaimer</h3>
                                                    <ul class="text-left">
                                                        <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Due to the nature of these products, there will be no refunds</li>
                                                        <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> <span>Prop 65 Warning:</span> These products may contain chemicals known to the State of California to cause cancer, birth defects or other reproductive harm</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 full">
                <div class="footerDesc">
                    <h5>momentarily</h5>
                    <p>A peer-to-peer marketplace for people and businesses to share their belongings for an affordable price, or borrow something for the moment.</p>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1 col-sm-12 col-xs-12 ">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Company</h5>
                            <ul>
                                <li><a href="@Url.Action("Index", "Home")" id="btn_home" "><i class="fa fa-caret-right" aria-hidden="true"></i> Home</a></li>
                                <li><a href="@Url.Action("AboutUs", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                <li><a href="@Url.Action("FAQ", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>  FAQ</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Quick Links</h5>
                            <ul>
                                <li><a href="@Url.Action("HowItWorks", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i> How it Works </a></li>
                                <li><a href="@Url.Action("Create", "Listing")"><i class="fa fa-caret-right" aria-hidden="true"></i> Share </a></li>
                                <li><a href="" id="becomeBorrower"><i class="fa fa-caret-right" aria-hidden="true"></i> Borrow </a></li>
                                <li><a href="@Url.Action("ContactUs", "Home")"><i class="fa fa-caret-right" aria-hidden="true"></i>  Help</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 full">
                        <div class="footerDesc">
                            <h5>Contact Us</h5>
                            <ul>
                                <li><a href="mailto:hello@momentarily.com"><i class="fa fa-envelope" aria-hidden="true"></i> hello@momentarily.com</a></li>
                            </ul>
                            <ul class="socialLinks">
                                <li><a href="https://www.instagram.com/momentarily/" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.facebook.com/momentarily" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li>
                                    <a href="https://twitter.com/momentarilycom" target="_blank" title="
                                 Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="https://www.youtube.com/momentarily" target="_blank" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

                                <li id="pintrest"><a href="https://www.pinterest.com/momentarilycom/" target="_blank" title="pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!---->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copyrightDesc">
                    <ul>
                        <li><a href="/termsofuse">Terms &amp; Conditions</a></li>
                        <li><a href="/privacypolicy" class="ppBtn"><img src="~/Content/TemplateImg/images/privacy-policy_icon.png" alt="image" /> Privacy Policy</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="copyrightDesc">
                    <p>@DateTime.Now.Year <b>momentarily</b><sup id="trademark">TM</sup></p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#" id="scroll" style="display:none;" title="Bottom to Top Scroll">
    <span class="goto">Go To</span> <span class="top-text">Top</span>
</a>


<script src="~/Content/TemplateImg/js/jquery.min.js"></script>
<script src="~/Content/TemplateImg/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        var num = parseFloat($("#GoodPrice").val());
        $("#GoodPrice").val(num.toFixed(2));
        calculateIntialTotalAmount();
    });


    function ValidateEmail(email) {
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        return expr.test(email);
    };

    function calculate() {
     
        var count = "0";
        var itemId = $('#CovidGoodId').val();
        $.ajax({
            url: "/AdminDashboard/GetAvailableCovidItemCount",
            type: "Get",
            async: false,
            data: { Id: itemId },
            success: function (data) {
               
                count = data;
            },
            error: function () {
                alert("Error")
            }
        });

        var quantity = $('#Quantity').val();
        var Num1 = parseInt(quantity);
        var Num2 = parseInt(count);
        if (Num1 > Num2)
        {
            alert("There are only " + count + " left. Please re-enter your new quantity.");
            $('#Quantity').focus();
            return;
        }

        var price = $('#GoodPrice').val();
        var taxpercentage = $('#Tax').val();
        var amount = price * quantity;
        var taxamount = (amount * taxpercentage) / 100;
        var total = amount + taxamount;
        $('#TotalPrice').val(Math.round(total).toFixed(2));
    }
    function calculateOnSubmit() {
        
        var count = "0";
        var itemId = $('#CovidGoodId').val();
        $.ajax({
            url: "/AdminDashboard/GetAvailableCovidItemCount",
            type: "Get",
            async: false,
            data: { Id: itemId },
            success: function (data) {

                count = data;
            },
            error: function () {
                alert("Error")
            }
        });
        
        var quantity = $('#Quantity').val();
        var Num1 = parseInt(quantity);
        var Num2 = parseInt(count);
        if (Num1 > Num2) {
            alert("There are only " + count + " left. Please re-enter your new quantity.");
            $('#Quantity').focus();
            return false;
        }
        
        var price = $('#GoodPrice').val();
        var taxpercentage = $('#Tax').val();
        var amount = price * quantity;
        var taxamount = (amount * taxpercentage) / 100;
        var total = amount + taxamount;
        $('#TotalPrice').val(Math.round(total).toFixed(2));
        return true;
    }
    function calculateIntialTotalAmount() {


        var quantity = $('#Quantity').val();
        var price = $('#GoodPrice').val();
        var taxpercentage = $('#Tax').val();
        var amount = price * quantity;
        var taxamount = (amount * taxpercentage) / 100;
        var total = amount + taxamount;
        $('#TotalPrice').val(Math.round(total).toFixed(2));
    }

    $('#btnsubmit').click(function (e) {

        debugger
        var checkQuantity = calculateOnSubmit();
        if (checkQuantity == false)
        {
            //e.preventDefault();
            return;
        }

        var quantity = $('#Quantity').val();
        if (quantity == "") {
            $("#Quantity").focus();
            alert("Quantity Required!");
            return
        }
        else if ($('#Quantity').val() <= 0) {
            $("#Quantity").focus();
            alert("Quantity must be one or above!");
            $("#BuyerEmailId").focus();
            return;
        }
        var BuyerName = $('#FullName').val();
        if (BuyerName == "") {
            $("#FullName").focus();
            alert("Name id Required!");
            return
        }
        var BuyerEmailId = $('#BuyerEmailId').val();
        if (BuyerEmailId == "") {
            $("#BuyerEmailId").focus();
            alert("Email id Required!");
            return
        }
        else if (!ValidateEmail(BuyerEmailId)) {
            alert("Please enter valid email!");
            $("#BuyerEmailId").focus();
            return;
        }

        var DeliveryAddress1 = $('#DeliveryAddress1').val();
        if (DeliveryAddress1 == "") {
            $("#DeliveryAddress1").focus();
            alert("Address Line 1 Required!");
            return
        }

        var DeliveryAddress2 = $('#DeliveryAddress2').val();
        if (DeliveryAddress2 == "") {
            $("#DeliveryAddress2").focus();
            alert("Address Line2 Required!");
            return
        }

        var City = $('#City').val();
        if (City == "") {
            $("#City").focus();
            alert("City Required!");
            return
        }

        var State = $('#State').val();
        if (State == "") {
            $("#State").focus();
            alert("State Required!");
            return
        }

        var ZipCode = $('#ZipCode').val();
        if (ZipCode == "") {
            $("#ZipCode").focus();
            alert("ZipCode Required!");
            return
        }

        if (confirm("Do you want to continue?") == true) {
            $('#frmplaceorder').submit();
        }
        else {
            return
        }
    });

    $("#Quantity").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });


</script>
