﻿@model Apeek.Common.IShape<Apeek.ViewModels.Models.MessageSentModel>
@{
    Layout = "~/Areas/Frontend/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/css/registermessagesent")
@Styles.Render("~/Content/css/registermessagesents")
<link href="~/Content/CustomCssFiles/CommonForAllPages.css" rel="stylesheet" />
<div class="content mainClass whitebgcolor">
    <div class="container-full">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>YAY! YOU'RE ALMOST THERE!</h1>
                <h3>THANK YOU FOR SIGNING UP WITH US</h3><br />
                @if (Model.ViewModel.IsVerified == false)
                {
                    <div class="alerts">
                        <div class="sendmailmsg">
                            To activate your account with <b>momentarily</b> please check your e-mail <b class="black-text">@Model.ViewModel.Email</b>
                            <br />click on the link sent to the email address provided. If you have not received the e-mail after a few minutes, please check your spam folder.
                        </div>
                    </div>
                }
                @if (Model.ViewModel.IsMobileVerified == false)
                {
                    <div class="alerts">
                        <div>
                            <p class="otpstyle">
                                A one time password has been sent to your mobile number <b class="black-text">@Model.ViewModel.PhoneNumber</b><br />
                                To confirm your mobile number, enter the password below and click the submit button
                            </p>
                        </div>
                        <div class="form-group">
                            <input type="text" id="otpnumber" />
                            @Html.HiddenFor(x => x.ViewModel.VC)
                            @Html.HiddenFor(x => x.ViewModel.PhoneNumber)
                            <button type="button" id="addotp" class="btn btn-red">Submit</button>
                            <a href="#" id="resendotp" >Resend OTP</a>
                        </div>
                       
                           
                      
                    </div>
                }
                </div>
        </div>
        @*<div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <ul class="login-links">
                        <li> <a href="@QuickUrl.HomeUrl()">Home</a> </li>
                        <li> <a href="@QuickUrl.UserProfileUrl()">My account</a> </li>
                    </ul>
                </div>
            </div>*@
    </div>
</div>

<div id="divLoading">
    <p>
        Loading. Please wait...<br />
        <span>
            <img src="~/Content/Images/circleloadinganimationOrignal.gif" alt="image" />
        </span>
    </p>

</div>
<footer class="pull-right btmfooter">@DateTime.UtcNow.Year Mometarily <sup><b><small>TM</small></b></sup></footer>
@Scripts.Render("~/Scripts/Libs/jquery")


<style>
    #divLoading {
        margin: 0px;
        padding: 0px;
        position: fixed;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #666666;
        z-index: 30001;
        opacity: .8;
        filter: alpha(opacity=70);
        display: none
    }

        #divLoading p {
            position: fixed;
            top: 30%;
            left: 45%;
            color: White;
        }

        #divLoading span > img {
            padding-left: 44px;
        }
</style>
<script>
    $(document).ready(function () {
        $('#resendotp').click(function () {

            $('#divLoading').show();

            var vcd = $('#ViewModel_VC').val();
            var phone = $('#ViewModel_PhoneNumber').val();
            $.ajax({
                url: "/Account/ResendOTP",
                type: "Get",
                data: { vc: vcd, number: phone },
                success: function (data) { 

                    if (data == "true" || data == "True") {

                        setTimeout(function () {
                            $('#divLoading').hide();
                            alert("OTP Sent");
                        }, 2000);

                    }
                    else {
                        setTimeout(function () {
                            $('#divLoading').hide();
                            alert("Something Went Wrong,Please Try Again!");
                        }, 2000);
                    }
                },
                error: function () {
                    setTimeout(function () {
                        $('#divLoading').hide();
                        alert("Error,Please Try Again!");
                    }, 2000);

                }
            });
        })




        $('#addotp').click(function () {
            
            var vcd = $('#ViewModel_VC').val();
            var myotp = $('#otpnumber').val();
            if (myotp != "") {
                $.ajax({
                    url: "/Account/MatchOTP",
                    type: "Post",
                    data: { otp: myotp, Vcode: vcd },
                    success: function (data) {
                        if (data == "true" || data == "True") {
                            
                            $.ajax({
                                url: "/User/VerifyMobileNumber",
                                type: "Get",
                                data: { otp: myotp, vc: vcd },
                                success: function (data) {
                                    
                                    if (data == "true" || data == "True") {

                                        alert("Your mobile number has been verified successfully. Please check your email and confirm your account with momentarily.");
                                        location.href = '@Url.Action("RedirectUser", "User")?vcode=' + vcd;
                                    }
                                    else {
                                        alert("Something Went Wrong!");
                                    }
                                },
                                error: function () {
                                    alert("Error!");
                                }
                            })
                        }
                        else {
                            alert("Wrong OTP");
                        }
                    },
                    error: function () {
                        alert("Error");
                    }
                })
            }
            else {
                alert("Please enter your OTP");
            }
        });
    })
</script>